# Introduction to Data Science 


## Lab 8: Scrapping and Integration

**British University in Egypt**<br>
**Instructors:** Nahla Barakat
---

In [1]:
from IPython.display import HTML
style = "<style>div.exercise { background-color: #ffcccc;border-color: #E9967A; border-left: 5px solid #800080; padding: 0.5em;}</style>"
HTML(style)

In [2]:
import requests
import re
import pandas as pd
from bs4 import BeautifulSoup
import math

C:\Users\Mostafa\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.9) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

## Data Scraping and Preparation

**In this lab, we will scrap data related to solar flares phenomena from two different web sources, then we will integrate the data to retrieve extra columns (Features)**

## First page: Scraping Solar flares from space Weather page

In [3]:
# In Sime pages, Some tages does not appears directly, so we need  to define some headers 
# and using request to request the page
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}
url='https://www.spaceweatherlive.com/en/solar-activity/top-50-solar-flares'
spaceWeather = requests.get(url,headers=headers)

In [4]:
# Getting the text from the page and use BS4 to parse it
spaceWeather_text = spaceWeather.text
spaceWeather_page = BeautifulSoup(spaceWeather_text,'html.parser')

In [5]:
# Showing first 1000 element in the text
spaceWeather_page.prettify()[:1000]

'<!DOCTYPE html>\n<html lang="en">\n <head>\n  <title>\n   Top 50 solar flares | Solar activity | SpaceWeatherLive.com\n  </title>\n  <meta charset="utf-8"/>\n  <meta content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" name="robots"/>\n  <meta content="On this page you will find an overview of the strongest solar flares since June 1996 together with links to more information in our archive and a v..." name="description"/>\n  <meta content="SpaceWeatherLive, Live, Aurora, Auroral activity, Aurora Australis, Aurora Borealis, northern lights, Solar wind, Kp-index, Space Weather, Space Weather Updates, Aurora forecast, Space Weather Alerts, Solar activity, Solar flares, Sunspots, Aurora alert, Auroral activity, The Sun, SDO, STEREO, EPAM, DSCOVR" name="keywords"/>\n  <!-- Facebook meta -->\n  <meta content="https://spaceweatherlive.com/en/solar-activity/top-50-solar-flares.html" property="og:url"/>\n  <meta content="article" property="og:type"/>\n  <meta content="Top 5'

**You should determine the part that includes the data to retrieve this part.<br>
After checking our page, we need to retrieve a table that contains the solar flares information**

In [6]:
len(spaceWeather_page.find('table'))

2

**Getting Table tags not enough, since there are two tables in the page, we need a marker to get the needed table**

In [7]:
# We found that the required table with this class name
class_='table table-striped'
table = spaceWeather_page.find('table',attrs={'class':class_})
table

<table class="table table-striped"><thead><tr><th></th><th></th><th></th><th>Region</th><th>Start</th><th>Maximum</th><th>End</th><th></th></tr></thead><tbody><tr><td>1</td><td><span class="flare_small Xclass">X28+</span></td><td>2003/11/04</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10486.html">0486</a></td><td>19:29</td><td>19:53</td><td>20:06</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200311041953X28.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/11/04/xray.html">View archive</a></div></td></tr><tr><td>2</td><td><span class="flare_small Xclass">X20+</span></td><td>2001/04/02</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/9393.html">9393</a></td><td>21:32</td><td>21:51</td><td>22:03</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2001/Flares/200104022151X20.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2001/04/02/xray.html">View archive</a></div></td></tr><tr><td>3</td><td><span class="flare_small Xclass">X17.2+</span></td><td>2003/10/28</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10486.html">0486</a></td><td>09:51</td><td>11:10</td><td>11:24</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200310281110X17.2.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/10/28/xray.html">View archive</a></div></td></tr><tr><td>4</td><td><span class="flare_small Xclass">X17+</span></td><td>2005/09/07</td><td><a class="btn btn-SWL Region" href="/en/solar-activity/region/10808.html">0808</a></td><td>17:17</td><td>17:40</td><td>18:03</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2005/Flares/200509071740X17.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2005/09/07/xray.html">View archive</a></div></td></tr><tr><td>5</td><td><span class="flare_small Xclass">X14.4</span></td><td>2001/04/15</td><td><a class="btn btn-SWL RegionBG" href="/en/solar-activity/region/9415.html">9415</a></td><td>13:19</td><td>13:50</td><td>13:55</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2001/Flares/200104151350X14.4.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2001/04/15/xray.html">View archive</a></div></td></tr><tr><td>6</td><td><span class="flare_small Xclass">X10</span></td><td>2003/10/29</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10486.html">0486</a></td><td>20:37</td><td>20:49</td><td>21:01</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200310292049X10.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/10/29/xray.html">View archive</a></div></td></tr><tr><td>7</td><td><span class="flare_small Xclass">X9.4</span></td><td>1997/11/06</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/8100.html">8100</a></td><td>11:49</td><td>11:55</td><td>12:01</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/1997/Flares/199711061155X9.4.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/1997/11/06/xray.html">View archive</a></div></td></tr><tr><td>8</td><td><span class="flare_small Xclass">X9.3</span></td><td>2017/09/06</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/12673.html">2673</a></td><td>11:53</td><td>12:02</td><td>12:10</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2017/Flares/201709061202X9.3.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2017/09/06/xray.html">View archive</a></div></td></tr><tr><td>9</td><td><span class="flare_small Xclass">X9</span></td><td>2006/12/05</td><td><a class="btn btn-SWL Region" href="/en/solar-activity/region/10930.html">0930</a></td><td>10:18</td><td>10:35</td><td>10:45</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2006/Flares/200612051035X9.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2006/12/05/xray.html">View archive</a></div></td></tr><tr><td>10</td><td><span class="flare_small Xclass">X8.3</span></td><td>2003/11/02</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10486.html">0486</a></td><td>17:03</td><td>17:25</td><td>17:39</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200311021725X8.3.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/11/02/xray.html">View archive</a></div></td></tr><tr><td>11</td><td><span class="flare_small Xclass">X8.2</span></td><td>2017/09/10</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/12673.html">2673</a></td><td>15:35</td><td>16:06</td><td>16:31</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2017/Flares/201709101606X8.2.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2017/09/10/xray.html">View archive</a></div></td></tr><tr><td>12</td><td><span class="flare_small Xclass">X7.1</span></td><td>2005/01/20</td><td><a class="btn btn-SWL RegionBD" href="/en/solar-activity/region/10720.html">0720</a></td><td>06:36</td><td>07:01</td><td>07:26</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2005/Flares/200501200701X7.1.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2005/01/20/xray.html">View archive</a></div></td></tr><tr><td>13</td><td><span class="flare_small Xclass">X6.9</span></td><td>2011/08/09</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/11263.html">1263</a></td><td>07:48</td><td>08:05</td><td>08:08</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2011/Flares/201108090805X6.9.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2011/08/09/xray.html">View archive</a></div></td></tr><tr><td>14</td><td><span class="flare_small Xclass">X6.5</span></td><td>2006/12/06</td><td><a class="btn btn-SWL RegionB" href="/en/solar-activity/region/10930.html">0930</a></td><td>18:29</td><td>18:47</td><td>19:00</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2006/Flares/200612061847X6.5.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2006/12/06/xray.html">View archive</a></div></td></tr><tr><td>15</td><td><span class="flare_small Xclass">X6.2</span></td><td>2005/09/09</td><td><a class="btn btn-SWL RegionBG" href="/en/solar-activity/region/10808.html">0808</a></td><td>19:13</td><td>20:04</td><td>20:36</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2005/Flares/200509092004X6.2.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2005/09/09/xray.html">View archive</a></div></td></tr><tr><td>16</td><td><span class="flare_small Xclass">X6.2</span></td><td>2001/12/13</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/9733.html">9733</a></td><td>14:20</td><td>14:30</td><td>14:35</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2001/Flares/200112131430X6.2.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2001/12/13/xray.html">View archive</a></div></td></tr><tr><td>17</td><td><span class="flare_small Xclass">X5.7</span></td><td>2000/07/14</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/9077.html">9077</a></td><td>10:03</td><td>10:24</td><td>10:43</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2000/Flares/200007141024X5.7.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2000/07/14/xray.html">View archive</a></div></td></tr><tr><td>18</td><td><span class="flare_small Xclass">X5.6</span></td><td>2001/04/06</td><td><a class="btn btn-SWL RegionBG" href="/en/solar-activity/region/9415.html">9415</a></td><td>19:10</td><td>19:21</td><td>19:31</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2001/Flares/200104061921X5.6.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2001/04/06/xray.html">View archive</a></div></td></tr><tr><td>19</td><td><span class="flare_small Xclass">X5.4</span></td><td>2012/03/07</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/11429.html">1429</a></td><td>00:02</td><td>00:24</td><td>00:40</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2012/Flares/201203070024X5.4.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2012/03/07/xray.html">View archive</a></div></td></tr><tr><td>20</td><td><span class="flare_small Xclass">X5.4</span></td><td>2005/09/08</td><td><a class="btn btn-SWL RegionA" href="/en/solar-activity/region/10808.html">0808</a></td><td>20:52</td><td>21:06</td><td>21:17</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2005/Flares/200509082106X5.4.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2005/09/08/xray.html">View archive</a></div></td></tr><tr><td>21</td><td><span class="flare_small Xclass">X5.4</span></td><td>2003/10/23</td><td><a class="btn btn-SWL RegionA" href="/en/solar-activity/region/10486.html">0486</a></td><td>08:19</td><td>08:35</td><td>08:49</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200310230835X5.4.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/10/23/xray.html">View archive</a></div></td></tr><tr><td>22</td><td><span class="flare_small Xclass">X5.3</span></td><td>2001/08/25</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/9591.html">9591</a></td><td>16:23</td><td>16:45</td><td>17:04</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2001/Flares/200108251645X5.3.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2001/08/25/xray.html">View archive</a></div></td></tr><tr><td>23</td><td><span class="flare_small Xclass">X4.9</span></td><td>2014/02/25</td><td><a class="btn btn-SWL RegionA" href="/en/solar-activity/region/11990.html">1990</a></td><td>00:39</td><td>00:49</td><td>01:03</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2014/Flares/201402250049X4.9.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2014/02/25/xray.html">View archive</a></div></td></tr><tr><td>24</td><td><span class="flare_small Xclass">X4.9</span></td><td>1998/08/18</td><td><a class="btn btn-SWL Region" href="/en/solar-activity/region/8307.html">8307</a></td><td>22:10</td><td>22:19</td><td>22:28</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" href="/en/archive/1998/08/18/xray.html">View archive</a></div></td></tr><tr><td>25</td><td><span class="flare_small Xclass">X4.8</span></td><td>2002/07/23</td><td><a class="btn btn-SWL RegionB" href="/en/solar-activity/region/10039.html">0039</a></td><td>00:18</td><td>00:35</td><td>00:47</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2002/Flares/200207230035X4.8.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2002/07/23/xray.html">View archive</a></div></td></tr><tr><td>26</td><td><span class="flare_small Xclass">X4</span></td><td>2000/11/26</td><td><a class="btn btn-SWL RegionBG" href="/en/solar-activity/region/9236.html">9236</a></td><td>16:34</td><td>16:48</td><td>16:56</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2000/Flares/200011261648X4.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2000/11/26/xray.html">View archive</a></div></td></tr><tr><td>27</td><td><span class="flare_small Xclass">X3.9</span></td><td>2003/11/03</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10488.html">0488</a></td><td>09:43</td><td>09:55</td><td>10:19</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200311030955X3.9.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/11/03/xray.html">View archive</a></div></td></tr><tr><td>28</td><td><span class="flare_small Xclass">X3.9</span></td><td>1998/08/19</td><td><a class="btn btn-SWL Region" href="/en/solar-activity/region/8307.html">8307</a></td><td>21:35</td><td>21:45</td><td>21:50</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" href="/en/archive/1998/08/19/xray.html">View archive</a></div></td></tr><tr><td>29</td><td><span class="flare_small Xclass">X3.8</span></td><td>2005/01/17</td><td><a class="btn btn-SWL RegionBD" href="/en/solar-activity/region/10720.html">0720</a></td><td>06:59</td><td>09:52</td><td>10:07</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2005/Flares/200501170952X3.8.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2005/01/17/xray.html">View archive</a></div></td></tr><tr><td>30</td><td><span class="flare_small Xclass">X3.7</span></td><td>1998/11/22</td><td><a class="btn btn-SWL RegionB" href="/en/solar-activity/region/8384.html">8384</a></td><td>06:30</td><td>06:42</td><td>06:49</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/1998/Flares/199811220642X3.7.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/1998/11/22/xray.html">View archive</a></div></td></tr><tr><td>31</td><td><span class="flare_small Xclass">X3.6</span></td><td>2005/09/09</td><td><a class="btn btn-SWL RegionBG" href="/en/solar-activity/region/10808.html">0808</a></td><td>09:42</td><td>09:59</td><td>10:08</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2005/Flares/200509090959X3.6.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2005/09/09/xray.html">View archive</a></div></td></tr><tr><td>32</td><td><span class="flare_small Xclass">X3.6</span></td><td>2004/07/16</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10649.html">0649</a></td><td>13:49</td><td>13:55</td><td>14:01</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2004/Flares/200407161355X3.6.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2004/07/16/xray.html">View archive</a></div></td></tr><tr><td>33</td><td><span class="flare_small Xclass">X3.6</span></td><td>2003/05/28</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10365.html">0365</a></td><td>00:17</td><td>00:27</td><td>00:39</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200305280027X3.6.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/05/28/xray.html">View archive</a></div></td></tr><tr><td>34</td><td><span class="flare_small Xclass">X3.4</span></td><td>2006/12/13</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10930.html">0930</a></td><td>02:14</td><td>02:40</td><td>02:57</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2006/Flares/200612130240X3.4.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2006/12/13/xray.html">View archive</a></div></td></tr><tr><td>35</td><td><span class="flare_small Xclass">X3.4</span></td><td>2001/12/28</td><td><a class="btn btn-SWL Region" href="/en/solar-activity/region/9767.html">9767</a></td><td>20:02</td><td>20:45</td><td>21:32</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2001/Flares/200112282045X3.4.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2001/12/28/xray.html">View archive</a></div></td></tr><tr><td>36</td><td><span class="flare_small Xclass">X3.3</span></td><td>2013/11/05</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/11890.html">1890</a></td><td>22:07</td><td>22:12</td><td>22:15</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2013/Flares/201311052212X3.3.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2013/11/05/xray.html">View archive</a></div></td></tr><tr><td>37</td><td><span class="flare_small Xclass">X3.3</span></td><td>2002/07/20</td><td><a class="btn btn-SWL Region" href="/en/solar-activity/region/10039.html">0039</a></td><td>21:04</td><td>21:30</td><td>21:54</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2002/Flares/200207202130X3.3.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2002/07/20/xray.html">View archive</a></div></td></tr><tr><td>38</td><td><span class="flare_small Xclass">X3.3</span></td><td>1998/11/28</td><td><a class="btn btn-SWL RegionBG" href="/en/solar-activity/region/8395.html">8395</a></td><td>04:54</td><td>05:52</td><td>06:13</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/1998/Flares/199811280552X3.3.mp4"><i aria-hidden="true" class="far fa-play-circle"></i>

In [8]:
# Checking the type of the table
type(table)

bs4.element.Tag

In [9]:
# Printing the table headers to convert the table to pandas dataframe
table.find_all('th')

[<th></th>,
 <th></th>,
 <th></th>,
 <th>Region</th>,
 <th>Start</th>,
 <th>Maximum</th>,
 <th>End</th>,
 <th></th>]

In [10]:
# seperate the data into lists
rank = []
x_class = []
date = []
region = []
start_time = []
max_time = []
end_time = []
movie = []

rows = table.find_all('tr')
rows[:3]

[<tr><th></th><th></th><th></th><th>Region</th><th>Start</th><th>Maximum</th><th>End</th><th></th></tr>,
 <tr><td>1</td><td><span class="flare_small Xclass">X28+</span></td><td>2003/11/04</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10486.html">0486</a></td><td>19:29</td><td>19:53</td><td>20:06</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200311041953X28.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/11/04/xray.html">View archive</a></div></td></tr>,
 <tr><td>2</td><td><span class="flare_small Xclass">X20+</span></td><td>2001/04/02</td><td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/9393.html">9393</a></td><td>21:32</td><td>21:51</td><td>22:03</td><td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2001/Flares/200104022151X20.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2001/04/02/xray.html">View archive</a></div></td></tr>]

In [11]:
i = 0 
for row in rows:
    if i == 0: # skip the header
        i += 1
        continue
    cols = row.find_all('td')
    print(cols)
    break

[<td>1</td>, <td><span class="flare_small Xclass">X28+</span></td>, <td>2003/11/04</td>, <td><a class="btn btn-SWL RegionBGD" href="/en/solar-activity/region/10486.html">0486</a></td>, <td>19:29</td>, <td>19:53</td>, <td>20:06</td>, <td><div class="btn-group"><a class="btn btn-xs btn-outline-dark" data-fancybox="" href="/images/Archief/2003/Flares/200311041953X28.0.mp4"><i aria-hidden="true" class="far fa-play-circle"></i> Movie</a><a class="btn btn-xs btn-outline-dark" href="/en/archive/2003/11/04/xray.html">View archive</a></div></td>]

In [12]:
i = 0 
for row in rows:
    if i == 0: # skip the header
        i += 1
        continue
    cols = row.find_all('td')
    rank.append(cols[0].text)
    x_class.append(cols[1].text)
    date.append(cols[2].text)
    region.append(cols[3].text)
    start_time.append(cols[4].text)
    max_time.append(cols[5].text)
    end_time.append(cols[6].text)
    movie.append(cols[7].text)
len(rank), len(x_class), len(date), len(region), len(start_time), len(max_time), len(end_time), len(movie)

(50, 50, 50, 50, 50, 50, 50, 50)

In [13]:
# create a dataframe
spaceWeatherDataFrame = pd.DataFrame({'Rank':rank,'X_class':x_class,'Date':date,'Region':region,'Start_time':start_time,'Max_time':max_time,'End_time':end_time,'Movie':movie})
spaceWeatherDataFrame.head()

,Rank,X_class,Date,Region,Start_time,Max_time,End_time,Movie
0,1,X28+,2003/11/04,0486,19:29,19:53,20:06,MovieView archive
1,2,X20+,2001/04/02,9393,21:32,21:51,22:03,MovieView archive
2,3,X17.2+,2003/10/28,0486,09:51,11:10,11:24,MovieView archive
3,4,X17+,2005/09/07,0808,17:17,17:40,18:03,MovieView archive
4,5,X14.4,2001/04/15,9415,13:19,13:50,13:55,MovieView archive

In [14]:
len(spaceWeatherDataFrame)

50

## Step 2: Tidy the First dataframe

In [15]:
# drop the Movie column
modifiedDataFrame=spaceWeatherDataFrame
modifiedDataFrame.drop(['Movie'],axis=1,inplace=True)
modifiedDataFrame.head()

  Rank X_class        Date Region Start_time Max_time End_time
0    1    X28+  2003/11/04   0486      19:29    19:53    20:06
1    2    X20+  2001/04/02   9393      21:32    21:51    22:03
2    3  X17.2+  2003/10/28   0486      09:51    11:10    11:24
3    4    X17+  2005/09/07   0808      17:17    17:40    18:03
4    5   X14.4  2001/04/15   9415      13:19    13:50    13:55

### Adding the date to Start_time, End_time, Max_time columns 
- Compining the string values of the **Date** column and each value of the **time** columns
- Dropping the **Date** column

In [16]:
modifiedDataFrame['Start_time'] = modifiedDataFrame['Date'] + " " + modifiedDataFrame['Start_time']
modifiedDataFrame['End_time'] = modifiedDataFrame['Date'] + " " + modifiedDataFrame['End_time']
modifiedDataFrame['Max_time'] = modifiedDataFrame['Date'] + " " + modifiedDataFrame['Max_time']
modifiedDataFrame.drop(['Date'], axis=1, inplace=True)
modifiedDataFrame.head()

  Rank X_class Region        Start_time          Max_time          End_time
0    1    X28+   0486  2003/11/04 19:29  2003/11/04 19:53  2003/11/04 20:06
1    2    X20+   9393  2001/04/02 21:32  2001/04/02 21:51  2001/04/02 22:03
2    3  X17.2+   0486  2003/10/28 09:51  2003/10/28 11:10  2003/10/28 11:24
3    4    X17+   0808  2005/09/07 17:17  2005/09/07 17:40  2005/09/07 18:03
4    5   X14.4   9415  2001/04/15 13:19  2001/04/15 13:50  2001/04/15 13:55

### Converting the Time columns from String to Pandas TimeStamp
- using `pd.to_datetime`

In [17]:
modifiedDataFrame['Start_time'] = pd.to_datetime(modifiedDataFrame['Start_time'])
modifiedDataFrame['End_time'] = pd.to_datetime(modifiedDataFrame['End_time'])
modifiedDataFrame['Max_time'] = pd.to_datetime(modifiedDataFrame['Max_time'])
modifiedDataFrame[:10]

,Rank,X_class,Region,Start_time,Max_time,End_time
0,1,X28+,0486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2+,0486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17+,0808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00
5,6,X10,0486,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00
6,7,X9.4,8100,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00
7,8,X9.3,2673,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00
8,9,X9,0930,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00
9,10,X8.3,0486,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00

In [18]:
modifiedDataFrame.dtypes

Rank                  object
X_class               object
Region                object
Start_time    datetime64[ns]
Max_time      datetime64[ns]
End_time      datetime64[ns]
dtype: object

In [19]:
# check for missing values
modifiedDataFrame.isnull().sum()

Rank          0
X_class       0
Region        0
Start_time    0
Max_time      0
End_time      0
dtype: int64

## Step3: Scrape the NASA data

In [20]:
# get the website content
reb = requests.get("http://www.hcbravo.org/IntroDataSci/misc/waves_type2.html")
reb.text[:1000]

'<html><body>\n<h2>Wind/WAVES type II bursts and CMEs</h2>\n<a href="waves_type2_description.htm">A Brief Description</a>\n<pre>\nNOTE: List includes DH type II bursts observed by Wind spacecraft, \nbut after STEREO launch on Oct 2006 the start and end times and \nfrequencies of bursts are determined using both Wind and STEREO \nobservations\n\n=================================================================================================\n                DH Type II                       Flare                     CME                   \n----------------------------------------   -----------------   --------------------------   Plots\nStart            End          Frequency     Loc   NOAA  Imp    Date  Time CPA  Width  Spd        \n(1)        (2)   (3)   (4)   (5)    (6)     (7)    (8)  (9)    (10)  (11) (12)  (13) (14)   (15) \n=================================================================================================\n1997/04/01 14:00 04/01 14:15  <a href="http://cdaw.gsfc.nasa.gov/CME_list/d'

In [21]:
page=BeautifulSoup(reb.text)
page.prettify()[:1000]

'<html>\n <body>\n  <h2>\n   Wind/WAVES type II bursts and CMEs\n  </h2>\n  <a href="waves_type2_description.htm">\n   A Brief Description\n  </a>\n  <pre>\nNOTE: List includes DH type II bursts observed by Wind spacecraft, \nbut after STEREO launch on Oct 2006 the start and end times and \nfrequencies of bursts are determined using both Wind and STEREO \nobservations\n\n=================================================================================================\n                DH Type II                       Flare                     CME                   \n----------------------------------------   -----------------   --------------------------   Plots\nStart            End          Frequency     Loc   NOAA  Imp    Date  Time CPA  Width  Spd        \n(1)        (2)   (3)   (4)   (5)    (6)     (7)    (8)  (9)    (10)  (11) (12)  (13) (14)   (15) \n=================================================================================================\n1997/04/01 14:00 04/01 14:15  <a href="http://cdaw.gs'

### Using Regex to scrap the content of the NASA website
- getting the rows of the website divided into lists of values
- e.g. `['1997/04/01', '14:00', '04/01', '14:15', '8000', '4000', 'S25E16', '8026', 'M1.3', '04/01', '15:18', '74', '79', '312', 'PHTX']`

In [22]:
rex=r'\d+/.*'
l=re.findall(rex,page.text)
l

['1997/04/01 14:00 04/01 14:15  8000  4000   S25E16  8026 M1.3   04/01 15:18   74   79  312   PHTX',
 '1997/04/07 14:30 04/07 17:30 11000  1000   S28E19  8027 C6.8   04/07 14:27 Halo  360  878   PHTX',
 '1997/05/12 05:15 05/14 16:00 12000    80   N21W08  8038 C1.3   05/12 05:30 Halo  360  464   PHTX',
 '1997/05/21 20:20 05/21 22:00  5000   500   N05W12  8040 M1.3   05/21 21:00  263  165  296   PHTX',
 '1997/09/23 21:53 09/23 22:16  6000  2000   S29E25  8088 C1.4   09/23 22:02  133  155  712   PHTX',
 '1997/11/03 05:15 11/03 12:00 14000   250   S20W13  8100 C8.6   11/03 05:28  240  109  227   PHTX',
 '1997/11/03 10:30 11/03 11:30 14000  5000   S16W21  8100 M4.2   11/03 11:11  233  122  352   PHTX',
 '1997/11/04 06:00 11/05 04:30 14000   100   S14W33  8100 X2.1   11/04 06:10 Halo  360  785   PHTX',
 '1997/11/06 12:20 11/07 08:30 14000   100   S18W63  8100 X9.4   11/06 12:10 Halo  360 1556   PHTX',
 '1997/11/27 13:30 11/27 14:00 14000  7000   N17E63  8113 X2.6   11/27 13:56   98   91  441   PHTX',
 '1997/12/12 22:45 12/12 23:20 14000  8000   N25W52  8116 B9.4   12/13 00:26  278   73  191   PHTX',
 '1998/01/25 15:03 01/25 15:18 14000 10000   N21E25  8141 C1.1   01/25 15:26 Halo  360  693   PHTX',
 '1998/03/29 03:40 03/29 03:52 14000  7000     SW90 ----- ----   03/29 03:48 Halo  360 1397   PHTX',
 '1998/04/20 10:25 04/22 06:00 10000    35   S22W90  8194 M1.4   04/20 10:07  284  165 1863   PHTX',
 '1998/04/23 06:00 04/23 15:30 14000   200   S17E90  8210 X1.2   04/23 05:55 Halo  360 1691   PHTX',
 '1998/04/24 09:17 04/24 09:25  4700  2600   S10E90  8210 C8.9   04/24 08:55  100   84 1184   PHTX  uncertain',
 '1998/04/27 09:20 04/27 10:00 10000  1000   S16E50  8210 X1.0   04/27 08:56 Halo  360 1385   PHTX',
 '1998/04/29 16:30 04/29 17:00 10000  2000   S18E20  8210 M6.8   04/29 16:58 Halo  360 1374   PHTX',
 '1998/05/02 14:25 05/02 14:50  5000  3000   S15W15  8210 X1.1   05/02 14:06 Halo  360  938   PHTX',
 '1998/05/06 08:25 05/06 08:35 14000  5000   S11W65  8210 X2.7   05/06 08:29  309  190 1099   PHTX',
 '1998/05/09 03:35 05/09 10:00  9000   400   S14W89  8210 M7.7   05/09 03:35  262  178 2331   PHTX',
 '1998/05/11 21:40 05/11 22:00 10000  1000   N32W90  8214 B6.6   05/11 21:55  208 >301  830   PHTX',
 '1998/05/19 10:00 05/19 11:30 14000  3000   N29W46  8222 B7.9   05/19 10:27  268  139  801   PHTX',
 '1998/05/27 13:30 05/27 14:20  4000  1000   N19W62  8226 C7.5   05/27 13:45  175  268  878   PHTX',
 '1998/06/11 10:15 06/11 10:20  8000  4000   N16E86  8243 M1.4   06/11 10:28  123  177 1223   PHTX',
 '1998/06/16 18:20 06/17 21:00 12000    50   S22W90  8232 M1.0   06/16 18:27  341  281 1484   PHTX',
 '1998/06/20 19:39 06/20 20:00  2600  1800     Back ----- ----   06/20 18:20 Halo  360  964   PHTX  uncertain',
 '1998/06/22 07:15 06/22 09:20  6000  2000   N16W46  8243 C2.9   06/22 05:01  265   59  206   PHTX',
 '1998/11/02 14:00 11/02 14:40 14000  4000   S25E47  8373 C4.4   11/02 14:18  116  169  661   PHTX',
 '1998/11/05 22:00 11/07 08:00  5000    50   N22W18  8375 M8.4   11/05 20:44 Halo  360 1118   PHTX',
 '1998/11/06 03:00 11/06 05:30  5000  1000     BACK ----- ----   11/06 02:18  159 >160  405   PHTX',
 '1998/11/07 00:20 11/07 00:50 14000  6000    NE90b ----- C1.0   11/07 01:54  296   19  381   PHTX',
 '1998/11/08 11:20 11/08 11:30 10000  8000   S21W37 ----- C5.9   11/08 11:54  264  196  559   PHTX',
 '1998/12/18 17:50 12/18 18:15 14000  5000   N19E64  8415 M8.0   12/18 18:09 Halo  360 1749   PHTX',
 '1999/04/24 13:50 04/24 00:00  3700  1500    NW90b ----- ----   04/24 13:31 Halo  360 1495   PHTX',
 '1999/05/03 05:50 05/03 08:45  8000   200   N15E32  8525 M4.4   05/03 06:06 Halo  360 1584   PHTX',
 '1999/05/27 10:55 05/28 10:00 14000    70     W90b ----- ----   05/27 11:06 Halo  360 1691   PHTX',
 '1999/06/01 18:50 06/02 09:00 14000   400    NW90b ----- ----   06/01 19:37 Halo  360 1772   PHTX',
 '1999/06/04 07:05 06/05 01:00 14000    60   N17W69  8552 M3.9   06/04 07:26  289  150 2230   PHTX',
 '1999/06/11 11:45 06/11 17:00 14000   400   N38E90 ----- C8.8   06/11 11:26   35 >181 1569   PHTX',
 '1999/06/22 18:25 06/22 18:40  3000  2000   N22E37  8592 M1.7   06/22 18:54 Halo  360 1133   PHTX',
 '1999/06/23 05:50 06/23 07:10 12000  2000     BACK ----- ----   06/23 06:06  264 >154  450   PHTX',
 '1999/06/23 07:07 06/23 07:14 14000  2000   N23E42  8596 M1.7   06/23 07:31 Halo  360 1006   PHTX  uncertain',
 '1999/06/28 21:03 06/28 21:10  3500  1500   N22W44  8592 C3.5   06/28 21:30  336 >184  903   PHTX',
 '1999/06/29 19:20 06/29 19:55 14000  2000   S14E01  8603 M1.6   06/29 19:54 Halo  360  560   PHTX',
 '1999/07/05 03:10 07/05 04:05  2000  1000    SW90b  8603 C7.6   07/05 02:54  284  190  670   PHTX',
 '1999/08/28 18:25 08/28 18:33 16000 12000   S26W14  8674 X1.1   08/28 18:26  120  245  462   PHTX',
 '1999/09/03 03:00 09/03 04:10  2000  1000   S36W24  8679 C2.1   09/03 00:06  184  175  512   PHTX',
 '1999/09/10 07:30 09/10 07:35  5500  2000    NW90b ----- ----   09/10 07:54   18  125 1467   PHTX',
 '1999/10/14 09:10 10/14 10:00 14000  4000   N11E32  8731 X1.8   10/14 09:26 Halo  360 1250   PHTX',
 '1999/10/17 23:27 10/17 23:33 11500 10000   N03E38 ----- ----   10/18 00:06   40   87  247   PHTX',
 '1999/11/16 03:27 11/16 03:48  7000  4000   N17E38  8766 M3.8   11/16 03:06   81   98  636   PHTX',
 '1999/11/16 05:17 11/16 05:34 14000  7000   N08W39  8759 M1.8   11/16 05:30  285  129  712   PHTX',
 '2000/01/18 17:31 01/18 22:00 14000   500   S19E11  8831 M3.9   01/18 17:54 Halo  360  739   PHTX',
 '2000/01/28 20:20 01/28 20:24  2200  1100   S31W17  8841 C4.7   01/28 20:12 Halo  360 1177   PHTX',
 '2000/02/05 19:34 02/05 19:34  5800  2900   N26E52  8858 X1.2   02/05 19:54   60   76  632   PHTX',
 '2000/02/08 09:05 02/11 02:20 12000    20   N25E26  8858 M1.3   02/08 09:30 Halo  360 1079   PHTX',
 '2000/02/10 01:55 02/10 02:00 14000  8000   N31E04  8858 C7.3   02/10 02:30 Halo  360  944   PHTX',
 '2000/02/12 03:55 02/12 09:20  4000   400   N26W23  8858 M1.7   02/12 04:31 Halo  360 1107   PHTX',
 '2000/02/17 20:42 02/18 22:12 14000   100   S29E07  8872 M1.3   02/17 21:30 Halo  360  728   PHTX',
 '2000/02/18 09:44 02/18 09:54  2000  1200    NW90b ----- C1.1   02/18 09:54  286  118  890   PHTX',
 '2000/03/02 13:50 03/02 14:03 14000  6000   S20W58  8882 M6.5   03/02 13:54  235   76  835   PHTX',
 '2000/03/07 16:24 03/07 16:48 14000  4500   S22E77  8906 M1.2   03/07 16:30  120  108  644   PHTX',
 '2000/03/27 06:56 03/27 06:58 14000 10000   S00E90  8932 C2.3   03/27 07:31  129   90  487   PHTX',
 '2000/04/04 15:45 04/04 16:00 14000  9000   N16W66  8933 C9.7   04/04 16:32 Halo  360 1188   PHTX',
 '2000/04/09 23:15 04/09 23:45  4500  1000   S14W01  8948 M3.1   04/10 00:30 Halo  360  409   PHTX',
 '2000/04/18 15:00 04/18 16:00 14000  6000   S50W30  altr FILA   04/18 14:54  195  105  668   PHTX',
 '2000/05/04 11:10 05/04 13:00  6500  1000   S17W87  8970 M6.8   05/04 11:26  235 >170 1404   PHTX',
 '2000/05/05 16:35 05/05 17:30 14000  2500   S17W87  8970 M1.5   05/05 15:50 Halo  360 1594   PHTX',
 '2000/05/07 21:15 05/07 24:00 14000   500     W90b ----- ----   05/07 20:50 Halo  360 1781   PHTX',
 '2000/05/12 23:34 05/12 23:42 14000  7000     E90b ----- ----   05/12 23:26 Halo  360 2604   PHTX',
 '2000/05/15 16:47 05/16 14:00  4800    40   S24W67  8993 C7.8   05/15 16:26  257 >165 1212   PHTX',
 '2000/06/02 22:00 06/02 22:15 14000  8000   N16E60  9026 M7.6   06/02 21:30   69  104  547   PHTX',
 '2000/06/06 15:20 06/08 09:00 14000    40   N20E18  9026 X2.3   06/06 15:54 Halo  360 1119   PHTX',
 '2000/06/10 17:15 06/10 18:45 10000  1000   N22W38  9026 M5.2   06/10 17:08 Halo  360 1108   PHTX',
 '2000/06/15 19:52 06/15 19:56  5000  2500   N20W65  9041 M1.8   06/15 20:06  298  116 1081   PHTX',
 '2000/06/17 03:00 06/17 04:15 14000  1000   N22W72  9041 M3.5   06/17 03:28  298  133  857   PHTX',
 '2000/06/19 01:19 06/19 01:22  3800  1900   N42E60 ----- ----   06/18 21:30    8   49  459   PHTX  This may not be a type II.',
 '2000/06/23 14:40 06/22 15:05 14000  2000   N26W72  9042 M3.0   06/23 14:54  282 >198  847   PHTX',
 '2000/06/25 08:10 06/25 09:00 12000  2500   N16W55  9046 M1.9   06/25 07:54  262  165 1617   PHTX',
 '2000/07/10 22:00 07/10 23:30 14000  1000   N18E49  9077 M5.7   07/10 21:50   67 >289 1352   PHTX',
 '2000/07/11 13:00 07/11 13:30 12000  1000   N18E27  9077 X1.0   07/11 13:27 Halo  360 1078   PHTX',
 '2000/07/12 20:05 07/12 20:35  6000  1000   N19W61  9070 M1.5   07/12 20:30  281  101  820   PHTX',
 '2000/07/14 10:30 07/15 14:30 14000    80   N22W07  9077 X5.7   07/14 10:54 Halo  360 1674   PHTX',
 '2000/07/22 11:45 07/22 12:45 14000  2000   N14W56  9085 M3.7   07/22 11:54  259 >229 1230   PHTX',
 '2000/08/11 11:35 08/11 11:59  2800  2000    NW90b ----- ----   08/11 07:31  273   70 1071   PHTX  uncertain',
 '2000/09/12 12:00 09/13 12:20 14000    60   S19W06   DSF M1.0   09/12 11:54 Halo  360 1550   PHTX',
 '2000/09/12 18:15 09/12 19:00  2000  1000    NE90b ----- ----   09/12 17:30 Halo  360 1053   PHTX',
 '2000/09/16 04:30 09/16 10:30 14000   400   N14W07  9165 M5.9   09/16 05:18 Halo  360 1215   PHTX',
 '2000/09/19 08:45 09/19 10:20 12000  1500   N14W46  9165 M5.1   09/19 08:50  283   76  766   PHTX',
 '2000/09/25 02:20 09/25 03:00 14000  1000   N09W18  9169 M1.8   09/25 02:50 Halo  360  587   PHTX',
 '2000/10/05 22:10 10/05 22:35  5000  1250   N25W90  9177 ----   10/05 18:26  323   86 1046   PHTX  This may not be a type II.',
 '2000/10/16 07:10 10/16 08:00 14000  1000   N03W90  9182 M2.5   10/16 07:27 Halo  360 1336   PHTX',
 '2000/10/25 09:30 10/25 24:00 10000   300   N09W63  9199 C4.0   10/25 08:26 Halo  360  770   PHTX',
 '2000/11/03 18:35 11/03 18:45  4000  2500   N02W02  9213 C3.2   11/03 18:26 Halo  360  291   PHTX',
 '2000/11/08 23:20 11/09 12:00  4000   200   N10W77  9213 M7.4   11/08 23:06  271 >170 1738   PHTX',
 '2000/11/09 16:15 11/11 04:00 10000    40   S11E10  9221 M1.0   --/-- --:-- ---- ---- ----   PHTX  CME_not_measurable_due_to_the_Snow_Storm',
 '2000/11/12 14:25 11/12 14:40  3000  2000   S14E05  9227 C4.4   11/12 14:50  257   50  581   PHTX',
 '2000/11/23 08:16 11/23 08:35 14000  9000   S26W40  9238 C5.4   11/23 06:06 Halo  360  492   PHTX',
 '2000/11/23 21:00 11/23 21:06  3500  3000   S20E60  9239 C7.9   11/23 21:30  124  148 1198   PHTX',
 '2000/11/24 05:10 11/24 15:00 14000   100   N20W05  9236 X2.0   11/24 05:30 Halo  360 1289   PHTX',
 '2000/11/24 15:25 11/24 22:00 14000   200   N22W07  9236 X2.3   11/24 15:30 Halo  360 1245   PHTX',
 '2000/11/24 22:24 11/24 22:36  4000  3000   N21W14  9236 X1.8   11/24 22:06 Halo  360 1005   PHTX',
 '2000/11/25 01:25 11/25 02:25 14000  3000   N07E50  9240 M8.2   11/25 01:31 Halo  360 2519   PHTX',
 '2000/11/25 19:00 11/25 19:35  6000  2000   N20W23  9236 X1.9   11/25 19:31 Halo  360  671   PHTX',
 '2000/11/25 19:55 11/25 20:25 13000  4000   N20W27  9236 ----   11/25 21:30  345   59  388   PHTX',
 '2000/11/26 17:00 11/26 17:15 14000  7000   N18W38  9236 X4.0   11/26 17:06 Halo  360  980   PHTX',
 '2000/12/28 12:40 12/28 13:38 14000  1900     Back ----- ----   12/28 12:06 Halo  360  930   PHTX',
 '2001/01/20 19:12 01/20 19:16 14000  6000   S07E40  9313 M1.2   01/20 19:31 Halo  360  839   PHTX',
 '2001/01/20 21:30 01/20 24:00 14000   500   S07E46  9313 M7.7   01/20 21:30 Halo  360 1507   PHTX',
 '2001/01/26 12:06 01/26 14:20 14000   400   S23W57  9320 C1.6   01/26 12:06  276  176  928   PHTX',
 '2001/01/28 15:45 01/28 17:00 14000   200   S04W59  9313 M1.5   01/28 15:54 Halo  360  916   PHTX',
 '2001/02/11 01:40 02/11 01:55 12000  5500   N24W57  9346 C6.5   02/11 01:31 Halo  360 1183   PHTX',
 '2001/03/10 04:18 03/10 04:32 14000  4000   N27W42  9368 M6.7   03/10 04:26  297   81  819   PHTX',
 '2001/03/12 05:35 03/12 05:45  3000  1500     BACK ----- ----   03/12 05:50  233   48  829   PHTX',
 '2001/03/27 02:35 03/27 03:15  6000  1000   N14E17  9393 C7.3   03/27 02:06  154   60  300   PHTX',
 '2001/03/27 15:00 03/27 15:20  4000  1500   N15E14  9393 C5.6   03/27 17:06   46   66  340   PHTX',
 '2001/03/29 10:12 03/30 06:00  4000    60   N20W19  9393 X1.7   03/29 10:26 Halo  360  942   PHTX',
 '2001/04/02 11:30 04/02 12:00 14000  5000   N20W70  9393 X1.1   04/02 11:26  270   80  992   PHTX',
 '2001/04/02 22:05 04/03 02:30 14000   250   N19W72  9393 X20.   04/02 22:06  261  244 2505   PHTX',
 '2001/04/03 03:40 04/03 07:25 14000   400   S21E83  9415 X1.2   04/03 03:26  108  292 1613   PHTX',
 '2001/04/04 09:50 04/04 10:10 13000  3000   S21E68  9415 M1.6   04/04 09:50   86   89 1065   PHTX',
 '2001/04/05 00:00 04/05 00:00 14000  7500   N14W85  9393 M8.4   04/05 09:06  283  205 1750   PHTX  uncertain',
 '2001/04/06 19:35 04/07 01:50 14000   230   S21E31  9415 X5.6   04/06 19:30 Halo  360 1270   PHTX  Double type II, CME-CME interaction?',
 '2001/04/09 15:53 04/10 01:00 12000   100   S21W04  9415 M7.9   04/09 15:54 Halo  360 1192   PHTX',
 '2001/04/10 05:24 04/10 24:00 14000   100   S23W09  9415 X2.3   04/10 05:30 Halo  360 2411   PHTX',
 '2001/04/11 13:15 04/11 14:15 14000  1500   S22W27  9415 M2.3   04/11 13:31 Halo  360 1103   PHTX',
 '2001/04/12 10:20 04/12 10:40 14000  7000   S19W43  9415 X2.0   04/12 10:31 Halo  360 1184   PHTX',
 '2001/04/15 14:05 04/16 13:00 14000    40   S20W85  9415 X14.   04/15 14:06  245  167 1199   PHTX',
 '2001/04/18 02:55 04/18 14:00  1000   100    SW90b ----- C2.2   04/18 02:30 Halo  360 2465   PHTX',
 '2001/04/26 12:40 04/28 05:00  5000    20   N20W05  9433 M1.5   04/26 12:30 Halo  360 1006   PHTX',
 '2001/05/07 12:00 05/07 13:50  2000   280    NW90b ----- ----   05/07 12:06  286  205 1223   PHTX',
 '2001/05/12 23:52 05/13 00:12  3000  1000   S17E00  9455 M3.0   05/13 02:21  190  132  527   PHTX',
 '2001/05/30 00:25 05/30 01:38 14000  1000     E90b  9481 ----   05/30 00:06   70  216 2087   PHTX',
 '2001/06/15 10:50 06/15 11:15  7000  3000   S26E41  9502 M6.3   06/15 10:31  185  119 1090   PHTX',
 '2001/06/15 16:05 06/15 16:20 14000  3500     W90b ----- ----   06/15 15:56 Halo  360 1701   PHTX',
 '2001/08/16 00:10 08/15 08:40  5400   200     Back ----- ----   08/15 23:54 Halo  360 1575   PHTX',
 '2001/08/25 16:50 08/25 23:00  8000   170   S17E34  9591 X5.3   08/25 16:50 Halo  360 1433   PHTX',
 '2001/08/30 20:43 08/30 20:47 12000 10000   N15E44  9601 M3.0   08/30 21:26   82   76  351   PHTX',
 '2001/09/03 18:48 09/03 19:00 12000  7500   S23E90  9607 M2.5   09/03 18:35  127  207 1352   PHTX',
 '2001/09/15 11:50 09/15 12:05 14000  6000   S21W49  9608 M1.5   09/15 11:54  263  130  478   PHTX',
 '2001/09/16 13:50 09/16 14:10  3000  2000   S13E15  9616 C8.9   09/16 14:30  131   68  584   PHTX',
 '2001/09/17 08:35 09/17 08:47 14000  5400   S14E04  9616 M1.5   09/17 08:54  198  166 1009   PHTX',
 '2001/09/20 18:43 09/20 18:57 14000 10000   N09W11  9631 M1.5   09/20 19:31  306  207  446   PHTX',
 '2001/09/24 10:45 09/25 20:00  7000    30   S16E23  9632 X2.6   09/24 10:30 Halo  360 2402   PHTX',
 '2001/09/27 08:15 09/28 07:00  4000    80   S15W40    EP C9.5   09/27 08:06  224  138  669   PHTX',
 '2001/10/01 07:00 10/01 18:30  1000   150   S24W81  9628 M9.1   10/01 05:30 Halo  360 1405   PHTX',
 '2001/10/05 11:35 10/05 12:55  1400   500    SW90b ----- ----   10/05 10:30 Halo  360 1537   PHTX',
 '2001/10/09 11:15 10/09 16:00  8000   200   S28E08  9653 M1.4   10/09 11:30 Halo  360  973   PHTX',
 '2001/10/09 11:20 10/09 11:55 14000  2000   S28E08  9653 ----   --/-- --:-- ---- ---- ----   PHTX  ------',
 '2001/10/09 13:10 10/09 23:00  5000    50     BACK ----- ----   --/-- --:-- ---- ---- ----   PHTX  Possible_HALO',
 '2001/10/19 01:15 10/19 02:25 14000  1300   N16W18  9661 X1.6   10/19 01:27 Halo  360  558   PHTX',
 '2001/10/19 16:45 10/21 16:40 14000    30   N15W29  9661 X1.6   10/19 16:50 Halo  360  901   PHTX',
 '2001/10/22 15:15 10/22 17:40  8000  1200   S21E18  9672 M6.7   10/22 15:06 Halo  360 1336   PHTX',
 '2001/10/25 15:30 10/27 23:00 14000    30   S16W21  9672 X1.3   10/25 15:26 Halo  360 1092   PHTX',
 '2001/11/04 16:30 11/06 11:00 14000    70   N06W18  9684 X1.0   11/04 16:35 Halo  360 1810   PHTX',
 '2001/11/17 05:35 11/17 06:40 11000  1700   S13E42  9704 M2.8   11/17 05:30 Halo  360 1379   PHTX  uncertain',
 '2001/11/22 20:50 11/22 22:23  8000  1000   S25W67  9698 M3.8   11/22 20:30 Halo  360 1443   PHTX',
 '2001/11/22 22:40 11/24 02:30 14000    40   S17W36  9704 M9.9   11/22 23:30 Halo  360 1437   PHTX',
 '2001/12/11 12:45 12/11 17:00  4500   750    SW90b ----- ----   12/11 09:54  263  121  891   PHTX',
 '2001/12/25 11:25 12/25 12:40 14000  1000    SE90b ----- ----   12/25 11:30 Halo  360 1773   PHTX',
 '2001/12/26 05:20 12/27 05:00 14000   150   N08W54  9742 M7.1   12/26 05:30  281 >212 1446   PHTX',
 '2001/12/28 20:35 12/29 03:00 14000   350   S26E90  9756 X3.4   12/28 20:30 Halo  360 2216   PHTX',
 '2001/12/29 20:45 12/29 21:05  3000  1500     BACK ----- ----   12/29 20:30  297 >211  819   PHTX',
 '2002/01/08 18:30 01/09 24:00 14000    90    NE90b ----- ----   01/08 17:54 Halo  360 1794   PHTX',
 '2002/01/14 06:25 01/14 21:30 12000   100   S28W83  9772 M4.4   01/14 05:35 Halo  360 1492   PHTX',
 '2002/01/27 12:49 01/27 13:25 14000  3000    Back? ----- ----   01/27 12:30 Halo  360 1136   PHTX',
 '2002/02/01 19:23 02/01 19:31 14000 11000     BACK ----- ----   02/01 19:54  350   89  448   PHTX',
 '2002/02/21 12:35 02/21 12:50  4000  1500   N16W79  9825 M3.9   02/21 12:54  275  108  358   PHTX',
 '2002/03/11 00:00 03/11 00:15 14000  8000   S11E90  9866 M2.3   03/10 23:06 Halo  360 1429   PHTX',
 '2002/03/12 00:00 03/12 02:20 14000  2200   S15E45 ----- M5.0   03/11 23:30 Halo  360  950   PHTX  broad feature',
 '2002/03/15 22:45 03/15 23:30 14000  6000   S08W03  9866 M2.2   03/15 23:06 Halo  360  957   PHTX',
 '2002/03/17 06:00 03/17 06:35  3000  1000   S20E24  9871 C3.1   03/17 04:06  141   56  658   PHTX',
 '2002/03/18 02:55 03/18 05:35 14000  1000   S15W22  9873 M1.0   03/18 02:54 Halo  360  989   PHTX',
 '2002/03/22 11:30 03/22 12:40 14000   500   S09W90  9866 M1.6   03/22 11:06 Halo  360 1750   PHTX',
 '2002/03/22 13:10 03/22 13:35  3000  2000   S00W90  9866 M1.6   03/22 12:30  243  120  875   PHTX',
 '2002/04/10 12:59 04/10 13:02 13000 12000   N15W14  9893 M8.2   04/10 13:27  340  159  650   PHTX',
 '2002/04/14 07:50 04/14 08:10 14000  8000   N19W57  9893 C9.6   04/14 07:50  323   76  757   PHTX',
 '2002/04/15 03:35 04/15 04:15 11000  1500   S15W01  9906 M1.2   04/15 03:50 Halo  360  720   PHTX',
 '2002/04/17 08:30 04/19 04:00  5000    40   S14W34  9906 M2.6   04/17 08:26 Halo  360 1240   PHTX',
 '2002/04/21 01:30 04/21 24:00 10000    60   S14W84  9906 X1.5   04/21 01:27 Halo  360 2393   PHTX',
 '2002/04/30 14:15 04/30 14:23  4000  2500   S16E77  9934 C3.2   04/30 14:26   92   90  618   PHTX',
 '2002/04/30 22:30 04/30 23:20  2000   500     W90b ----- ----   04/30 23:26  254  199 1103   PHTX  uncertain',
 '2002/05/02 23:50 05/03 00:10  2800   900     E90b  9937 ----   05/02 23:18  119   99  902   PHTX  uncertain',
 '2002/05/16 01:50 05/16 03:30  9000  2000   S22E01  9948 C4.5   05/16 00:50 Halo  360  600   PHTX',
 '2002/05/22 00:00 05/22 00:30 14000  8000   S25W64  9948 C9.7   05/22 00:06  230  186 1246   PHTX',
 '2002/05/27 12:50 05/27 13:50 14000  5000   N18E18  9967 C3.7   05/27 13:27   49 >161 1106   PHTX',
 '2002/07/07 11:35 07/07 20:00 14000   200   S19W90 10017 M1.0   07/07 11:30  277 >228 1423   PHTX',
 '2002/07/09 19:46 07/09 20:40  1000   650     W90b ----- ----   07/09 19:31 Halo  360 1076   PHTX',
 '2002/07/15 21:15 07/16 05:00  5000   175   N19W01 10030 M1.8   07/15 21:30   14 >188 1300   PHTX',
 '2002/07/17 07:30 07/17 07:45  3500  2000   N21W17 10030 M8.5   07/17 07:31   36  177  716   PHTX',
 '2002/07/18 07:55 07/18 08:45 14000  1500   N19W30 10030 X1.8   07/18 08:06 Halo  360 1099   PHTX',
 '2002/07/18 20:55 07/18 21:40  6000  3000     E90b 10036 C3.3   07/18 19:31 Halo  360 2191   PHTX',
 '2002/07/19 16:40 07/19 17:10  5000  1000   S15E90 ----- ----   07/19 16:30 Halo  360 2047   PHTX',
 '2002/07/20 21:30 07/20 22:20 10000  2000    SE90b 10039 X3.3   07/20 22:06 Halo  360 1941   PHTX',

In [23]:
newList=[]
for i in l:
    newList.append(i.split())
newList[0]

['1997/04/01',
 '14:00',
 '04/01',
 '14:15',
 '8000',
 '4000',
 'S25E16',
 '8026',
 'M1.3',
 '04/01',
 '15:18',
 '74',
 '79',
 '312',
 'PHTX']

In [24]:
# put the values into seperated lists
startDate=[]
startTime=[]
endDate=[]
endTime=[]
startFrequency=[]
endFrequency=[]
flare_Location=[]
flare_region=[]
importance=[]
CME_Date=[]
CME_Time=[]
CPA=[]
width = []
speed = []
for i in newList:
    startDate.append(i[0])
    startTime.append(i[1])
    endDate.append(i[2])
    endTime.append(i[3])
    startFrequency.append(i[4])
    endFrequency.append(i[5])
    flare_Location.append(i[6])
    flare_region.append(i[7])
    importance.append(i[8])
    CME_Date.append(i[9])
    CME_Time.append(i[10])
    CPA.append(i[11])
    width.append(i[12])
    speed.append(i[13])

In [25]:
# put the lists into Pandas df
df = pd.DataFrame({'startDate':startDate,'startTime':startTime,'endDate':endDate,
                   'endTime':endTime,'startFrequency':startFrequency,'endFrequency':endFrequency,
                   'flare_Location': flare_Location,'flare_region':flare_region,'importance':importance,
                   'CME_Date':CME_Date,'CME_Time':CME_Time, 'width':width, 'speed':speed, 'CPA':CPA})
df.head()

,startDate,startTime,endDate,endTime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
0,1997/04/01,14:00,04/01,14:15,8000,4000,S25E16,8026,M1.3,04/01,15:18,79,312,74
1,1997/04/07,14:30,04/07,17:30,11000,1000,S28E19,8027,C6.8,04/07,14:27,360,878,Halo
2,1997/05/12,05:15,05/14,16:00,12000,80,N21W08,8038,C1.3,05/12,05:30,360,464,Halo
3,1997/05/21,20:20,05/21,22:00,5000,500,N05W12,8040,M1.3,05/21,21:00,165,296,263
4,1997/09/23,21:53,09/23,22:16,6000,2000,S29E25,8088,C1.4,09/23,22:02,155,712,133

In [26]:
len(df.columns)

14

In [27]:
df.columns

Index(['startDate', 'startTime', 'endDate', 'endTime', 'startFrequency',
       'endFrequency', 'flare_Location', 'flare_region', 'importance',
       'CME_Date', 'CME_Time', 'width', 'speed', 'CPA'],
      dtype='object')

### Missing Values per Column
- missing values: has `-` in it

In [28]:
df.isna().sum()

startDate         0
startTime         0
endDate           0
endTime           0
startFrequency    0
endFrequency      0
flare_Location    0
flare_region      0
importance        0
CME_Date          0
CME_Time          0
width             0
speed             0
CPA               0
dtype: int64

In [29]:
missing_cols = []
for col in df.columns:
    s = df[col].str.contains('-').sum()
    print(col,':', s)
    if s>0:
        missing_cols.append(col)

startDate : 0
startTime : 0
endDate : 0
endTime : 0
startFrequency : 0
endFrequency : 0
flare_Location : 6
flare_region : 83
importance : 105
CME_Date : 20
CME_Time : 20
width : 20
speed : 20
CPA : 21

In [30]:
# columns with missing values
missing_cols

['flare_Location',
 'flare_region',
 'importance',
 'CME_Date',
 'CME_Time',
 'width',
 'speed',
 'CPA']

In [31]:
# discovering rows with missing data
df[df[col].str.contains('-')]

,startDate,startTime,endDate,endTime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
96,2000/11/09,16:15,11/11,04:00,10000,40,S11E10,9221,M1.0,--/--,--:--,----,----,----
149,2001/10/09,11:20,10/09,11:55,14000,2000,S28E08,9653,----,--/--,--:--,----,----,----
150,2001/10/09,13:10,10/09,23:00,5000,50,BACK,-----,----,--/--,--:--,----,----,----
229,2003/07/10,14:10,07/10,16:10,4000,400,N13W90,10397,M3.6,--/--,--:--,----,----,----
250,2004/01/05,03:40,01/05,03:50,9000,2500,S12E38,10536,M6.9,--/--,--:--,----,----,----
261,2004/06/22,22:07,06/22,22:30,10000,7000,S12W24,10635,C1.7,--/--,--:--,----,----,----
262,2004/06/23,06:30,06/23,08:55,14000,5000,S09W21,10635,C2.5,--/--,--:--,----,----,----
269,2004/09/19,17:15,09/19,18:15,14000,2500,N03W58,10672,M1.9,--/--,--:--,----,----,----
284,2005/01/04,11:20,01/04,11:35,13000,6000,N05W11,10715,C7.3,--/--,--:--,----,----,----
298,2005/06/16,20:25,06/16,21:40,9000,1000,N08W90,10775,M4.0,--/--,--:--,----,----,----
318,2005/09/07,18:05,09/08,00:00,12000,200,S11E77,10808,X1.7,--/--,--:--,----,----,----
330,2006/12/05,10:50,12/05,20:00,14000,250,S07E68,10930,X9.0,--/--,--:--,----,----,----
331,2006/12/06,02:00,12/06,03:30,1000,200,S07E69,10930,M1.1,--/--,--:--,----,----,----
332,2006/12/06,08:30,12/06,09:45,4000,600,S04E63,10930,M6.0,--/--,--:--,----,----,----
333,2006/12/06,19:00,12/08,24:00,16000,30,S05E64,10930,X6.5,--/--,--:--,----,----,----
341,2010/08/01,09:20,08/01,17:30,2000,700,N20E36,11092,C3.2,--/--,--:--,----,----,----
419,2013/10/13,18:47,10/14,05:15,2100,600,------,-----,----,10/13,14:12,83,293,----
432,2013/12/05,20:48,12/05,21:35,14000,2500,------,-----,----,--/--,--:--,---,----,----
437,2014/01/04,17:41,01/04,18:47,9000,100,------,-----,----,--/--,--:--,---,----,----
438,2014/01/04,19:03,01/05,09:00,6500,100,------,-----,----,--/--,--:--,---,----,----
451,2014/04/02,18:49,04/03,06:40,2400,200,------,-----,----,--/--,--:--,---,----,----

## Step 4: Tidy the NASA dataframe

### Replace any missing entries as `nan` in all columns

In [32]:
new_df=df.copy()

In [33]:
# replace nan
for col in df.columns:
    new_df.loc[new_df[col].str.contains('-'), col] = math.nan

In [34]:
new_df.isna().sum()

startDate           0
startTime           0
endDate             0
endTime             0
startFrequency      0
endFrequency        0
flare_Location      6
flare_region       83
importance        105
CME_Date           20
CME_Time           20
width              20
speed              20
CPA                21
dtype: int64

In [35]:
new_df.dropna(inplace=True)

In [36]:
new_df[10:20]

,startDate,startTime,endDate,endTime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
10,1997/12/12,22:45,12/12,23:20,14000,8000,N25W52,8116,B9.4,12/13,00:26,73,191,278
11,1998/01/25,15:03,01/25,15:18,14000,10000,N21E25,8141,C1.1,01/25,15:26,360,693,Halo
13,1998/04/20,10:25,04/22,06:00,10000,35,S22W90,8194,M1.4,04/20,10:07,165,1863,284
14,1998/04/23,06:00,04/23,15:30,14000,200,S17E90,8210,X1.2,04/23,05:55,360,1691,Halo
15,1998/04/24,09:17,04/24,09:25,4700,2600,S10E90,8210,C8.9,04/24,08:55,84,1184,100
16,1998/04/27,09:20,04/27,10:00,10000,1000,S16E50,8210,X1.0,04/27,08:56,360,1385,Halo
17,1998/04/29,16:30,04/29,17:00,10000,2000,S18E20,8210,M6.8,04/29,16:58,360,1374,Halo
18,1998/05/02,14:25,05/02,14:50,5000,3000,S15W15,8210,X1.1,05/02,14:06,360,938,Halo
19,1998/05/06,08:25,05/06,08:35,14000,5000,S11W65,8210,X2.7,05/06,08:29,190,1099,309
20,1998/05/09,03:35,05/09,10:00,9000,400,S14W89,8210,M7.7,05/09,03:35,178,2331,262

### Compine Date and Time columns for Start, End and CME
- endDate: getting the years value from **startDate** column before compining it with **endTime** column
- startDate: compining **startDate** with **startTime** columns

In [37]:
new_df['endDate'] = new_df['startDate'].str.slice(start=0, stop=5) + new_df['endDate'] + ' ' + new_df['endTime']
new_df['startDate'] = new_df['startDate'] + ' ' + new_df['startTime']

In [38]:
# drop endTime and startTime columns
new_df.drop(['endTime', 'startTime'], axis=1, inplace=True)

# rename
new_df.rename(columns={'startDate': 'Start_Datetime', 'endDate':'End_Datetime'}, inplace=True)

In [39]:
new_df.dtypes

Start_Datetime    object
End_Datetime      object
startFrequency    object
endFrequency      object
flare_Location    object
flare_region      object
importance        object
CME_Date          object
CME_Time          object
width             object
speed             object
CPA               object
dtype: object

## Custom Function for datetime conversion
- some time data had `24` hours instead of `0` in it so we made a special case for it 
 - By setting the `hours` to `0` and increamenting days by `1`

In [40]:
def custom_to_datetime(date):
    # If the time is 24, set it to 0 and increment day by 1
    if date[11:13] == '24':
        return pd.to_datetime(date[:-5]) + pd.Timedelta(days=1)
    else:
        return pd.to_datetime(date)

In [41]:
# applying custom_to_datetime function to time columns
for col in ['Start_Datetime', 'End_Datetime']:
    new_df[col] = new_df[col].apply(custom_to_datetime)

In [42]:
new_df.dtypes

Start_Datetime    datetime64[ns]
End_Datetime      datetime64[ns]
startFrequency            object
endFrequency              object
flare_Location            object
flare_region              object
importance                object
CME_Date                  object
CME_Time                  object
width                     object
speed                     object
CPA                       object
dtype: object

## Data Integration

After **Data Collection**, **Data Exploration**, and **Data Preprocessing** Now, the next step is to combine data from different sources to get a unified structure with more meaningful and valuable information. <br> This is mostly used if the data is segregated into different sources. This process of bringing data together in one place is called **data integration**.

#### The most used solution to integrate the data is combining dataframes using the merge function. <br>
[pd.merge documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)

### Important Arguments
**how** {‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}, default ‘inner’

Type of merge to be performed.

    left: use only keys from left frame.

    right: use only keys from right frame.

    outer: use union of keys from both frames.

    inner: use intersection of keys from both frames.

**on**: label or list

Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

**left_on**: label or list, or array-like

Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.

**right_on** :label or list, or array-like

Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

**left_index**: bool, default False
Use the index from the left DataFrame as the join key(s). If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels

**right_index**: bool, default False
Use the index from the right DataFrame as the join key. Same caveats as left_index.

#### Before mergeing, you should makesure that the column you will merge on has the same format in the two frames

In [43]:
# Explore first dataframe
frame1=new_df.copy()
frame1.tail(20)

,Start_Datetime,End_Datetime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
450,2014-04-02 13:42:00,2014-04-03 08:10:00,14000,60,N11E53,12027,M6.5,04/02,13:36,360,1471,Halo
452,2014-04-04 14:02:00,2014-04-04 14:07:00,14000,11000,N13E26,12027,C8.3,04/04,14:12,96,467,54
453,2014-04-18 13:05:00,2014-04-18 22:50:00,14000,150,S20W34,12036,M7.3,04/18,13:25,360,1203,Halo
458,2014-06-10 12:58:00,2014-06-10 15:00:00,16000,1000,S17E82,12087,X1.5,06/10,13:30,360,1469,Halo
459,2014-06-12 22:14:00,2014-06-12 22:35:00,14000,6000,S20W55,12085,M3.1,06/12,22:12,186,684,233
460,2014-07-30 07:44:00,2014-07-30 08:00:00,6300,4500,N10E30,EP?,C1.5,07/30,07:00,254,700,13
461,2014-08-01 18:58:00,2014-08-02 05:00:00,1000,150,S10E11,12127,M1.5,08/01,18:36,360h,789,Halo
462,2014-08-22 10:37:00,2014-08-22 11:18:00,14000,6000,N12E01,12146,C2.2,08/22,11:12,360,600,Halo
463,2014-08-25 15:20:00,2014-08-25 16:02:00,14000,4000,N05W36,12146,M2.0,08/25,15:36,360,555,Halo
464,2014-08-25 20:43:00,2014-08-25 21:00:00,14000,7200,N07W43,12146,M3.9,08/25,20:48,177,711,273
467,2014-09-09 00:05:00,2014-09-09 13:00:00,11000,100,N12E29,12158,M4.5,09/09,00:06,360,920,Halo
468,2014-09-10 17:45:00,2014-09-11 12:00:00,14000,100,N14E02,12158,X1.6,09/10,18:00,360,1267,Halo
471,2014-09-23 23:41:00,2014-09-23 23:47:00,14000,12000,S13E33,12172,M2.3,09/23,23:36,134,331,109
473,2014-10-02 21:34:00,2014-10-02 21:56:00,3300,1900,S17W82,12173,M7.3,10/02,19:12,159,513,264
474,2014-10-10 18:11:00,2014-10-10 18:33:00,2500,1500,S20W51,EP,C3.0,10/10,16:12,>210,782,309
475,2014-10-21 12:33:00,2014-10-21 13:01:00,14000,8900,S18E36,12192,C4.4,10/21,12:48,142,260,152
478,2014-12-17 04:09:00,2014-12-17 04:19:00,2900,2100,S11E33,12241,M1.1,12/17,02:00,108,869,107
479,2014-12-17 05:00:00,2014-12-17 05:09:00,14000,11500,S20E09,12242,M8.7,12/17,05:00,360,587,Halo
480,2014-12-18 22:31:00,2014-12-18 22:54:00,5100,1300,S11E15,12241,M6.9,12/19,01:04,360,1195,Halo
481,2014-12-21 12:05:00,2014-12-21 12:28:00,14000,7400,S14W25,12241,M1.0,12/21,12:12,360,669,Halo

In [44]:
# Explore Second dataframe
frame2=spaceWeatherDataFrame.copy()
frame2.head()

,Rank,X_class,Region,Start_time,Max_time,End_time
0,1,X28+,0486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2+,0486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17+,0808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00

**We need to rename column that we will merge on**

In [45]:
frame2.rename(columns={'X_class': 'importance'}, inplace=True)

In [46]:
frame2.head()

,Rank,importance,Region,Start_time,Max_time,End_time
0,1,X28+,0486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2+,0486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17+,0808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00

#### we have a problem here

In [47]:
frame2[frame2['importance'].str.contains('X.*\+')]

,Rank,importance,Region,Start_time,Max_time,End_time
0,1,X28+,0486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2+,0486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17+,0808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00

In [48]:
frame1[frame1['importance'].str.contains('X')].head()

,Start_Datetime,End_Datetime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA
7,1997-11-04 06:00:00,1997-11-05 04:30:00,14000,100,S14W33,8100,X2.1,11/04,06:10,360,785,Halo
8,1997-11-06 12:20:00,1997-11-07 08:30:00,14000,100,S18W63,8100,X9.4,11/06,12:10,360,1556,Halo
9,1997-11-27 13:30:00,1997-11-27 14:00:00,14000,7000,N17E63,8113,X2.6,11/27,13:56,91,441,98
14,1998-04-23 06:00:00,1998-04-23 15:30:00,14000,200,S17E90,8210,X1.2,04/23,05:55,360,1691,Halo
16,1998-04-27 09:20:00,1998-04-27 10:00:00,10000,1000,S16E50,8210,X1.0,04/27,08:56,360,1385,Halo

In [49]:
x=frame2['importance'][frame2['importance'].str.contains('X.*\+')]
x

0      X28+
1      X20+
2    X17.2+
3      X17+
Name: importance, dtype: object

In [50]:
x.str.slice(start=0, stop=-1)

0      X28
1      X20
2    X17.2
3      X17
Name: importance, dtype: object

In [51]:
frame2['importance'][frame2['importance'].str.contains('X.*\+')]=x.str.slice(start=0, stop=-1)

<ipython-input-51-577b3b02fc19>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  frame2['importance'][frame2['importance'].str.contains('X.*\+')]=x.str.slice(start=0, stop=-1)

In [52]:
frame2.head()

,Rank,importance,Region,Start_time,Max_time,End_time
0,1,X28,0486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2,0486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17,0808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00

In [53]:
## Now we are ready to integrate
pd.merge(frame1, frame2, on = 'importance',how='inner')

,Start_Datetime,End_Datetime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA,Rank,Region,Start_time,Max_time,End_time
0,1997-11-06 12:20:00,1997-11-07 08:30:00,14000,100,S18W63,8100,X9.4,11/06,12:10,360,1556,Halo,7,8100,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00
1,1997-11-27 13:30:00,1997-11-27 14:00:00,14000,7000,N17E63,8113,X2.6,11/27,13:56,91,441,98,49,0720,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00
2,1997-11-27 13:30:00,1997-11-27 14:00:00,14000,7000,N17E63,8113,X2.6,11/27,13:56,91,441,98,50,9632,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00
3,2001-09-24 10:45:00,2001-09-25 20:00:00,7000,30,S16E23,9632,X2.6,09/24,10:30,360,2402,Halo,49,0720,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00
4,2001-09-24 10:45:00,2001-09-25 20:00:00,7000,30,S16E23,9632,X2.6,09/24,10:30,360,2402,Halo,50,9632,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00
5,2005-01-15 23:00:00,2005-01-15 00:00:00,3000,40,N15W05,10720,X2.6,01/15,23:06,360,2861,Halo,49,0720,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00
6,2005-01-15 23:00:00,2005-01-15 00:00:00,3000,40,N15W05,10720,X2.6,01/15,23:06,360,2861,Halo,50,9632,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00
7,1998-05-06 08:25:00,1998-05-06 08:35:00,14000,5000,S11W65,8210,X2.7,05/06,08:29,190,1099,309,46,2339,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00
8,1998-05-06 08:25:00,1998-05-06 08:35:00,14000,5000,S11W65,8210,X2.7,05/06,08:29,190,1099,309,47,0488,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00
9,1998-05-06 08:25:00,1998-05-06 08:35:00,14000,5000,S11W65,8210,X2.7,05/06,08:29,190,1099,309,48,8210,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00
10,2003-11-03 01:15:00,2003-11-03 01:25:00,3000,1500,N10W83,10488,X2.7,11/03,01:59,65,827,304,46,2339,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00
11,2003-11-03 01:15:00,2003-11-03 01:25:00,3000,1500,N10W83,10488,X2.7,11/03,01:59,65,827,304,47,0488,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00
12,2003-11-03 01:15:00,2003-11-03 01:25:00,3000,1500,N10W83,10488,X2.7,11/03,01:59,65,827,304,48,8210,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00
13,2000-07-14 10:30:00,2000-07-15 14:30:00,14000,80,N22W07,9077,X5.7,07/14,10:54,360,1674,Halo,17,9077,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00
14,2001-04-06 19:35:00,2001-04-07 01:50:00,14000,230,S21E31,9415,X5.6,04/06,19:30,360,1270,Halo,18,9415,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00
15,2001-08-25 16:50:00,2001-08-25 23:00:00,8000,170,S17E34,9591,X5.3,08/25,16:50,360,1433,Halo,22,9591,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00
16,2001-12-28 20:35:00,2001-12-29 03:00:00,14000,350,S26E90,9756,X3.4,12/28,20:30,360,2216,Halo,34,0930,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00
17,2001-12-28 20:35:00,2001-12-29 03:00:00,14000,350,S26E90,9756,X3.4,12/28,20:30,360,2216,Halo,35,9767,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00
18,2006-12-13 02:45:00,2006-12-13 10:40:00,12000,150,S06W23,10930,X3.4,12/13,02:54,360,1774,Halo,34,0930,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00
19,2006-12-13 02:45:00,2006-12-13 10:40:00,12000,150,S06W23,10930,X3.4,12/13,02:54,360,1774,Halo,35,9767,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00
20,2002-07-20 21:30:00,2002-07-20 22:20:00,10000,2000,SE90b,10039,X3.3,07/20,22:06,360,1941,Halo,36,1890,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00
21,2002-07-20 21:30:00,2002-07-20 22:20:00,10000,2000,SE90b,10039,X3.3,07/20,22:06,360,1941,Halo,37,0039,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00
22,2002-07-20 21:30:00,2002-07-20 22:20:00,10000,2000,SE90b,10039,X3.3,07/20,22:06,360,1941,Halo,38,8395,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00
23,2002-07-23 00:50:00,2002-07-23 04:00:00,11000,400,S13E72,10039,X4.8,07/23,00:42,360,2285,Halo,25,0039,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00
24,2002-08-24 01:45:00,2002-08-24 03:25:00,5000,400,S02W81,10069,X3.1,08/24,01:27,360,1913,Halo,40,2192,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00
25,2002-08-24 01:45:00,2002-08-24 03:25:00,5000,400,S02W81,10069,X3.1,08/24,01:27,360,1913,Halo,41,0069,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00
26,2003-05-28 01:00:00,2003-05-29 00:30:00,1000,200,S06W21,10365,X3.6,05/28,00:50,360,1366,Halo,31,0808,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00
27,2003-05-28 01:00:00,2003-05-29 00:30:00,1000,200,S06W21,10365,X3.6,05/28,00:50,360,1366,Halo,32,0649,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00
28,2003-05-28 01:00:00,2003-05-29 00:30:00,1000,200,S06W21,10365,X3.6,05/28,00:50,360,1366,Halo,33,0365,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00
29,2003-11-02 17:30:00,2003-11-03 01:00:00,12000,250,S14W56,10486,X8.3,11/02,17:30,360,2598,Halo,10,0486,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00
30,2003-11-03 10:00:00,2003-11-03 12:30:00,6000,400,N08W77,10488,X3.9,11/03,10:06,103,1420,293,27,0488,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00
31,2003-11-03 10:00:00,2003-11-03 12:30:00,6000,400,N08W77,10488,X3.9,11/03,10:06,103,1420,293,28,8307,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00
32,2005-01-17 10:00:00,2005-01-17 10:35:00,6100,1500,N15W25,10720,X3.8,01/17,09:54,360,2547,Halo,29,0720,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00
33,2005-01-20 07:15:00,2005-01-20 16:30:00,14000,25,N14W61,10720,X7.1,01/20,06:54,360,882,Halo,12,0720,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00
34,2005-09-09 19:45:00,2005-09-09 22:00:00,10000,50,S12E67,10808,X6.2,09/09,19:48,360,2257,Halo,15,0808,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00
35,2005-09-09 19:45:00,2005-09-09 22:00:00,10000,50,S12E67,10808,X6.2,09/09,19:48,360,2257,Halo,16,9733,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00
36,2011-08-09 08:20:00,2011-08-09 08:35:00,16000,4000,N17W69,11263,X6.9,08/09,08:12,360,1610,Halo,13,1263,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00
37,2012-03-07 01:00:00,2012-03-08 19:00:00,16000,30,N17E27,11429,X5.4,03/07,00:24,360,2684,Halo,19,1429,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00
38,2012-03-07 01:00:00,2012-03-08 19:00:00,16000,30,N17E27,11429,X5.4,03/07,00:24,360,2684,Halo,20,0808,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00
39,2012-03-07 01:00:00,2012-03-08 19:00:00,16000,30,N17E27,11429,X5.4,03/07,00:24,360,2684,Halo,21,0486,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00
40,2013-05-13 16:15:00,2013-05-13 19:10:00,16000,300,N11E85,11748,X2.8,05/13,16:07,360,1850,Halo,43,1748,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00
41,2013-05-13 16:15:00,2013-05-13 19:10:00,16000,300,N11E85,11748,X2.8,05/13,16:07,360,1850,Halo,44,9733,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00
42,2013-05-13 16:15:00,2013-05-13 19:10:00,16000,300,N11E85,11748,X2.8,05/13,16:07,360,1850,Halo,45,8307,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00
43,2013-05-14 01:16:00,2013-05-14 02:35:00,16000,700,N08E77,11748,X3.2,05/14,01:25,360,2625,Halo,39,1748,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00
44,2014-02-25 00:56:00,2014-02-25 11:28:00,14000,100,S13E82,11990,X4.9,02/25,01:25,360,2147,Halo,23,1990,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00
45,2014-02-25 00:56:00,2014-02-25 11:28:00,14000,100,S13E82,11990,X4.9,02/25,01:25,360,2147,Halo,24,8307,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00

In [54]:
pd.merge(frame1, frame2, on = 'importance',how='outer')

,Start_Datetime,End_Datetime,startFrequency,endFrequency,flare_Location,flare_region,importance,CME_Date,CME_Time,width,speed,CPA,Rank,Region,Start_time,Max_time,End_time
0,1997-04-01 14:00:00,1997-04-01 14:15:00,8000,4000,S25E16,8026,M1.3,04/01,15:18,79,312,74,NaN,NaN,NaT,NaT,NaT
1,1997-05-21 20:20:00,1997-05-21 22:00:00,5000,500,N05W12,8040,M1.3,05/21,21:00,165,296,263,NaN,NaN,NaT,NaT,NaT
2,2000-02-08 09:05:00,2000-02-11 02:20:00,12000,20,N25E26,8858,M1.3,02/08,09:30,360,1079,Halo,NaN,NaN,NaT,NaT,NaT
3,2000-02-17 20:42:00,2000-02-18 22:12:00,14000,100,S29E07,8872,M1.3,02/17,21:30,360,728,Halo,NaN,NaN,NaT,NaT,NaT
4,2011-10-21 13:15:00,2011-10-21 13:50:00,16000,6500,N05W79,11319,M1.3,10/21,13:25,109,317,252,NaN,NaN,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,NaT,NaT,NaN,NaN,NaN,NaN,X8.2,NaN,NaN,NaN,NaN,NaN,11,2673,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00
382,NaT,NaT,NaN,NaN,NaN,NaN,X6.5,NaN,NaN,NaN,NaN,NaN,14,0930,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00
383,NaT,NaT,NaN,NaN,NaN,NaN,X4,NaN,NaN,NaN,NaN,NaN,26,9236,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00
384,NaT,NaT,NaN,NaN,NaN,NaN,X3.7,NaN,NaN,NaN,NaN,NaN,30,8384,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00
385,NaT,NaT,NaN,NaN,NaN,NaN,X3,NaN,NaN,NaN,NaN,NaN,42,0030,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00

## Exercise

In [55]:
## You are required to reterive a table in the page that provided below
## First step request the page and pass the text of your page to a bs4 object
link='http://sideeffects.embl.de/drugs/16156130/'

##################YourSol##################
pg = requests.get(link,headers=headers)
pg_text = pg.text
exe_page = BeautifulSoup(pg_text,'html.parser')

In [56]:
## Print the first 2000 elements in the page using bs4.prettify

##################YourSol##################
exe_page.prettify()[:2000]

'<!DOCTYPE html>\n<html lang="en">\n <head>\n  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>\n  <meta content="width=device-width, initial-scale=1" name="viewport"/>\n  <meta content="Ivica Letunic" name="author"/>\n  <meta content="drug side effect resource" name="description"/>\n  <title>\n   Side effect information for Exenatide\n  </title>\n  <link href="/media/bs/css/bootstrap.min.css" rel="stylesheet"/>\n  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>\n  <script src="/media/olib.js" type="text/javascript">\n  </script>\n  <script src="/media/jquery-1.11.2.min.js" type="text/javascript">\n  </script>\n  <script src="/media/jquery.cookie.js" type="text/javascript">\n  </script>\n  <script src="/media/panel/jquery-ui.min.js" type="text/javascript">\n  </script>\n  <link href="/media/panel/vendor/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet">\n   <script src="/media/panel/jspanel/jquery.jspanel.min.js" type="text/javascript">\n   </script>\n   <link href="/media/panel/jspanel/jquery.jspanel.min.css" rel="stylesheet"/>\n   <link href="/media/tree/skin/ui.dynatree.css" id="skinSheet" rel="stylesheet" type="text/css"/>\n   <script src="/media/tree/jquery.dynatree.min.js" type="text/javascript">\n   </script>\n   <script src="/media/bs/js/bootstrap.js">\n   </script>\n   <script src="/media/sider.js" type="text/javascript">\n   </script>\n   <link href="/media/se.css" rel="stylesheet" type="text/css"/>\n   <script>\n    (function(i,s,o,g,r,a,m){i[\'GoogleAnalyticsObject\']=r;i[r]=i[r]||function(){\n  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),\n  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)\n  })(window,document,\'script\',\'//www.google-analytics.com/analytics.js\',\'ga\');\n  ga(\'create\', \'UA-2456420-7\', \'embl.de\');\n  ga(\'send\', \'pageview\');\n   </script>\n  </link>\n </head>\n <body>\n  <div id="overDiv" style="position:absolute; visibility:hidden; z-index:10'

In [57]:
## Find the tables in the page and print the number of tables

##################YourSol##################
len(exe_page.find_all("table"))

8

In [58]:
## Find first table and print the headers of table

##################YourSol##################
table=exe_page.find("table")
x=table.find_all('th')
for i in x:
    print(i.text)

Side effect


Data for drug


Placebo


Labels

In [59]:
## Create a dataframe that the columns names are the headers, and the rows are the rows of scrapped table

##################YourSol##################

Sideeffect=[]
Datafordrug=[]
Placebo=[]
Labels=[]
rows=table.find_all('tr')
i = 0 
for row in rows:
    if i == 0: # skip the header
        i += 1
        continue
    cols = row.find_all('td')
    Sideeffect.append(cols[0].text)
    Datafordrug.append(cols[1].text)
    Placebo.append(cols[2].text)
    Labels.append(cols[3].text)

In [60]:
pd.DataFrame({'Sideeffect':Sideeffect,'Datafordrug':Datafordrug,'Placebo':Placebo,'Labels':Labels})

,Sideeffect,Datafordrug,Placebo,Labels
0,\n,\n1\n,\n2\n,\n3\n
1,\nNausea \n,\npostmarketing — 1.3% - 44%\n,\n0% - 18%\n,\nx\n
2,\nDiarrhoea \n,\npostmarketing — 3.59% - 20%\n,\n3% - 8%\n,\nx\n
3,\nUpper respiratory tract infection \n,\n1.35% - 17.2%\n,\n,\n
4,\nFeeling jittery\n,\n9%\n,\n4%\n,\nx\n
...,...,...,...,...
100,\nNeuroglycopenia\n,\n,\n,\n
101,\nInjection site dermatitis\n,\n,\n,\n
102,\nBlood glucose decreased \n,\n,\n,\n
103,\nInfestation NOS\n,\n,\n,\n
104,\nInternational normalised ratio increased \n,\n,\n,\nx\n