# Notes to Improve Workflow

In [3]:
# Setup matplotlib to plot inline (within the notebook)
%matplotlib inline
# Import the pyplot module of Matplotlib as plt
import matplotlib.pyplot as plt
# Import pandas under the abbreviation 'pd'
import pandas as pd
# Import NumPy under the abbreviation 'np'
import numpy as np

#Notes for efficienccy:
#shift + tab when cursor is in arguments to bring up its documentation
#ex: pd.DataFrame(Shift+tab here)
#recall: Json == Dictionary
#to know functions of pandas:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

# Reading The Data

In [4]:
# Import the heart disease dataset and save it to a variable
# using pandas and read_csv()
# Alternatively: You can directly pass the URL of a csv to read_csv()
acquis = pd.read_csv("datasets/startups/acquisitions.csv")
additions = pd.read_csv("datasets/startups/additions.csv")
companies = pd.read_csv("datasets/startups/companies.csv")
invests = pd.read_csv("datasets/startups/investments.csv")
rounds = pd.read_csv("datasets/startups/rounds.csv")
dfAll = [acquis, additions, companies, invests, rounds]

In [5]:
#shapes (rows x cols) of each dataset
for ele in dfAll:
    print(ele.shape)

(18969, 18)
(2213, 4)
(66368, 14)
(168647, 18)
(114949, 12)

# Samples of the datasets

In [6]:
acquis.sample(5).transpose()

,391,15681,853,16910,18779
company_permalink,/organization/adaptivepath,/organization/spire-corporation,/organization/allianex,/organization/tightlinz-com,/organization/xmpie
company_name,Adaptive Path,Spire Corporation,Allianex,TightLinz.com,XMPie
company_category_list,Curated Web|Design|Product Design,Clean Technology,Hardware + Software,NaN,Software
company_country_code,USA,USA,NaN,NaN,USA
company_state_code,CA,MA,NaN,NaN,NY
company_region,SF Bay Area,Boston,NaN,NaN,New York City
company_city,San Francisco,Bedford,NaN,NaN,New York
acquirer_permalink,/organization/capital-one,/organization/masimo,/organization/kensington-leasing,/organization/leftlane-sports,/organization/xerox
acquirer_name,Capital One,Masimo,Kensington Leasing,LeftLane Sports,Xerox
acquirer_category_list,Banking|Credit Cards|Finance|Financial Services,Biotechnology,Hardware + Software,Sports,Hardware + Software
acquirer_country_code,USA,USA,USA,USA,USA
acquirer_state_code,VA,CA,CA,CA,CT
acquirer_region,"Washington, D.C.",Anaheim,Ontario - Inland Empire,San Luis Obispo,Hartford
acquirer_city,Mclean,Irvine,Redlands,San Luis Obispo,Norwalk
acquired_at,10/2/2014,3/12/2012,6/8/2010,4/1/2013,10/3/2006
acquired_month,2014-10,2012-03,2010-06,2013-04,2006-10
price_amount,NaN,8500000.0,NaN,NaN,54000000.0
price_currency_code,USD,USD,USD,USD,USD

In [7]:
additions.sample(5).transpose()

,1322,1632,1254,1523,2095
content,Rounds: angel,Rounds: grant,Rounds,Rounds: equity_crowdfunding,Rounds: undisclosed
month_str,2012-11,2015-01,2015-11,2012-09,2014-11
year_str,2012,2015,2015,2012,2014
value,44,22,3505,3,152

In [8]:
companies.sample(5).transpose()

,36965,29134,49577,26292,10540
permalink,/organization/moobella,/organization/itao-online-learning-system,/organization/sapias-inc-acquired-by-wireless-...,/organization/hyper-2,/organization/certusnet
name,MooBella,ITao,Sapias,Hyper,CertusNet
homepage_url,http://www.moobella.com,NaN,http://www.sapias.com/,http://www.watchhyper.com/,http://www.certusnetnj.com.cn
category_list,Manufacturing,Education|Internet|Training,Communities|Software|Technology,Content Delivery|Content Discovery|Curated Web...,Software
funding_total_usd,52000000,12500,8000000,1100000,-
status,closed,operating,operating,operating,operating
country_code,USA,NaN,NaN,DEU,CHN
state_code,MA,NaN,NaN,16,NaN
region,New Bedford,NaN,NaN,Berlin,NaN
city,Taunton,NaN,NaN,Berlin,NaN
funding_rounds,3,1,1,1,3
founded_at,NaN,NaN,NaN,4/1/2015,NaN
first_funding_at,7/12/2007,2/1/2014,4/27/2004,8/26/2015,8/1/2009
last_funding_at,11/19/2010,2/1/2014,4/27/2004,8/26/2015,3/1/2011

In [9]:
invests.sample(5).transpose()

,160579,49734,149725,8730,17846
company_permalink,/organization/way-better,/organization/everstring,/organization/traiana,/organization/anokion-sa,/organization/bijoti-inc-
company_name,WayBetter,EverString,Traiana,Anokion SA,"BiJoTi, Inc."
company_category_list,Games|Gamification|Health and Wellness|Interne...,Consumers,Finance|Financial Services|Risk Management,Biotechnology,Analytics|Information Technology|Security|Serv...
company_country_code,USA,USA,USA,CHE,USA
company_state_code,NY,CA,NY,23,VA
company_region,New York City,SF Bay Area,New York City,Ecublens,"Washington, D.C."
company_city,New York,San Mateo,New York,Ecublens,Herndon
investor_permalink,/organization/seedinvest,/organization/danhua-capital,/organization/sequoia-capital,/organization/novo-ventures,/organization/cit-gap-funds
investor_name,SeedInvest,Danhua Capital,Sequoia Capital,Novo Ventures,CIT GAP Funds
investor_country_code,USA,USA,USA,DNK,USA
investor_state_code,NY,CA,CA,17,VA
investor_region,New York City,SF Bay Area,SF Bay Area,BagsvÃ¦rd,"Washington, D.C."
investor_city,New York,Palo Alto,Menlo Park,Bagsværd,Herndon
funding_round_permalink,/funding-round/209055db37c87a9828bc1cb7e8075649,/funding-round/e8b1bb465b91075338c7ed71c2c410e9,/funding-round/24db60510789de5c49336efdf42d69b8,/funding-round/78517767de96dc1edf5c8b3e8942fb11,/funding-round/8b38381476378c93892b763acb90bd39
funding_round_type,venture,venture,venture,venture,seed
funding_round_code,A,A,D,A,NaN
funded_at,8/1/2014,1/1/2014,10/9/2005,5/9/2014,11/1/2014
raised_amount_usd,2800000.0,12000000.0,15000000.0,37500000.0,NaN

In [10]:
rounds.sample(5).transpose()

,67279,79436,104504,27026,40600
company_permalink,/organization/new-net,/organization/pulmonx,/organization/umbio,/organization/denovo-sciences,/organization/go-3
company_name,New.net,Pulmonx,UmBio,DeNovo Sciences,goplusplatform
company_category_list,Domains|Internet,Biotechnology,Software,Biotechnology,Developer APIs|Internet of Things|M2M
company_country_code,USA,USA,SWE,USA,NaN
company_state_code,CA,CA,23,MI,NaN
company_region,Los Angeles,SF Bay Area,Umea,Detroit,NaN
company_city,Pasadena,Redwood City,Umeå,Plymouth,NaN
funding_round_permalink,/funding-round/204d11414ad6c30976d0699ac09c3527,/funding-round/724e6635cf75284f569e69a3fa963498,/funding-round/ba05ac3b9dbb1b908448379e4a3d5d6a,/funding-round/f05c75e9734f90f035ba62ccf9cf70ee,/funding-round/58ed00db071d822897f245a0008ea148
funding_round_type,venture,venture,seed,venture,grant
funding_round_code,A,B,NaN,NaN,NaN
funded_at,4/30/2000,5/7/2007,1/1/2002,10/20/2014,3/11/2014
raised_amount_usd,NaN,20000000.0,150000.0,2000000.0,30000.0

In [11]:
#getting all (unique) columns of the datasets
uniqueCols = set() #or: instead of "{}", "set()"
for ele in dfAll:
    cols = ele.columns.tolist() #".tolist()" to make it a list (side note: ".values" to make it a numpy.ndarray)
    
    uniqueCols.update(cols) #use ".add()" for elements, ".update()" for lists

In [12]:
#sorting the columns alphabetically
tempList = list(uniqueCols)
tempList.sort()
uniqueCols = tempList
uniqueCols

['acquired_at',
 'acquired_month',
 'acquirer_category_list',
 'acquirer_city',
 'acquirer_country_code',
 'acquirer_name',
 'acquirer_permalink',
 'acquirer_region',
 'acquirer_state_code',
 'category_list',
 'city',
 'company_category_list',
 'company_city',
 'company_country_code',
 'company_name',
 'company_permalink',
 'company_region',
 'company_state_code',
 'content',
 'country_code',
 'first_funding_at',
 'founded_at',
 'funded_at',
 'funding_round_code',
 'funding_round_permalink',
 'funding_round_type',
 'funding_rounds',
 'funding_total_usd',
 'homepage_url',
 'investor_city',
 'investor_country_code',
 'investor_name',
 'investor_permalink',
 'investor_region',
 'investor_state_code',
 'last_funding_at',
 'month_str',
 'name',
 'permalink',
 'price_amount',
 'price_currency_code',
 'raised_amount_usd',
 'region',
 'state_code',
 'status',
 'value',
 'year_str']

# Seeing the columns in the datasets

In [13]:
import pandas as pd
def dfsCols(pad, datasetNames, *args):
    """
    Takes dataframes and returns a dataframe (df) with each column having a df's
    column names. The "pad" is to make sure all lists of columns have 
    the same length padded out with "pad"
    Example
    pad = "XX", datasetNames = ["cars", "planes"]
    args = [carsDF, planesDF]
    returned data frame:
            cars            planes
    0       numOfWheels     numOfWings
    1       manufacturer    manufacturer
    2       make            XX
    """
    cols = []
    maxArrayLen = 0
    for i, df in enumerate(args):
        cols.append(df.columns.tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(args):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        dictCsvs.update({datasetNames[i] : cols[i]})

    return pd.DataFrame(dictCsvs)

In [14]:
lstCsvNames = ["acquisitions", "additions", "companies", "investments", "rounds"]

dfAllCols = dfsCols("", lstCsvNames, *dfAll)
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,permalink,company_permalink,company_permalink
1,company_name,month_str,name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,country_code,company_city,company_city
7,acquirer_permalink,,state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,region,investor_name,funding_round_type
9,acquirer_category_list,,city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

# Data Cleaning

First, lets change the columns in the `companies` dataset <br>
to be the similar to all other datasets:

In [15]:
companies.rename(columns = {'permalink' : 'company_permalink', 
                            'name' : 'company_name',
                            'category_list' : 'company_category_list',
                            'country_code' : 'company_country_code',
                            'state_code' : 'company_state_code',
                            'region' : 'company_region',
                            'city' : 'company_city'}, inplace = True)

In [16]:
dfAll[2] = companies
dfAllCols = dfsCols("", lstCsvNames, *dfAll)
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,company_permalink,company_permalink,company_permalink
1,company_name,month_str,company_name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,company_category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,company_country_code,company_city,company_city
7,acquirer_permalink,,company_state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,company_region,investor_name,funding_round_type
9,acquirer_category_list,,company_city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

Now, let's see the null values for each dataset's columns:

In [17]:
def datasetsNulls(pad, nullCol, datasetNames, *args):
    cols = []
    nulls = []
    maxArrayLen = 0
    for i, df in enumerate(args):
        cols.append(df.columns.tolist())
        nulls.append(df.isnull().sum().tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(args):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        nulls[i] += [None] *  (maxArrayLen - len(nulls[i]))
        dictCsvs[datasetNames[i]] = cols[i]
        dictCsvs[nullCol + str(i+1)] = nulls[i]
    
    return pd.DataFrame(dictCsvs)

In [18]:
dfAllNulls = datasetsNulls("", "nulls_", lstCsvNames, *dfAll)
dfAllNulls

,acquisitions,nulls_1,additions,nulls_2,companies,nulls_3,investments,nulls_4,rounds,nulls_5
0,company_permalink,0,content,0.0,company_permalink,0.0,company_permalink,0,company_permalink,0.0
1,company_name,1,month_str,0.0,company_name,1.0,company_name,1,company_name,1.0
2,company_category_list,4984,year_str,0.0,homepage_url,5058.0,company_category_list,3632,company_category_list,3410.0
3,company_country_code,4669,value,0.0,company_category_list,3148.0,company_country_code,10521,company_country_code,8678.0
4,company_state_code,4949,,NaN,funding_total_usd,0.0,company_state_code,13431,company_state_code,10946.0
5,company_region,4911,,NaN,status,0.0,company_region,12485,company_region,10167.0
6,company_city,4911,,NaN,company_country_code,6958.0,company_city,12483,company_city,10164.0
7,acquirer_permalink,1,,NaN,company_state_code,8547.0,investor_permalink,12,funding_round_permalink,0.0
8,acquirer_name,1,,NaN,company_region,8030.0,investor_name,12,funding_round_type,0.0
9,acquirer_category_list,2389,,NaN,company_city,8028.0,investor_country_code,30939,funding_round_code,83809.0
10,acquirer_country_code,1171,,NaN,funding_rounds,0.0,investor_state_code,44739,funded_at,0.0
11,acquirer_state_code,1436,,NaN,founded_at,15221.0,investor_region,43217,raised_amount_usd,19990.0
12,acquirer_region,1360,,NaN,first_funding_at,24.0,investor_city,32164,,NaN
13,acquirer_city,1360,,NaN,last_funding_at,0.0,funding_round_permalink,0,,NaN
14,acquired_at,13,,NaN,,NaN,funding_round_type,0,,NaN
15,acquired_month,15,,NaN,,NaN,funding_round_code,87585,,NaN
16,price_amount,13957,,NaN,,NaN,funded_at,0,,NaN
17,price_currency_code,7,,NaN,,NaN,raised_amount_usd,21619,,NaN

Alternatively, we can combine all columns to be the

In [19]:
#Alternatively:
def datasetsNullsSameIndex(datasetsNames, *args):
    dic = {}
    for i, df in enumerate(args):
        dic[datasetsNames[i]] = df.isnull().sum()
    return pd.DataFrame(dic)

In [20]:
datasetsNullsSameIndex(lstCsvNames, *dfAll)

,acquisitions,additions,companies,investments,rounds
acquired_at,13.0,NaN,NaN,NaN,NaN
acquired_month,15.0,NaN,NaN,NaN,NaN
acquirer_category_list,2389.0,NaN,NaN,NaN,NaN
acquirer_city,1360.0,NaN,NaN,NaN,NaN
acquirer_country_code,1171.0,NaN,NaN,NaN,NaN
acquirer_name,1.0,NaN,NaN,NaN,NaN
acquirer_permalink,1.0,NaN,NaN,NaN,NaN
acquirer_region,1360.0,NaN,NaN,NaN,NaN
acquirer_state_code,1436.0,NaN,NaN,NaN,NaN
company_category_list,4984.0,NaN,3148.0,3632.0,3410.0
company_city,4911.0,NaN,8028.0,12483.0,10164.0
company_country_code,4669.0,NaN,6958.0,10521.0,8678.0
company_name,1.0,NaN,1.0,1.0,1.0
company_permalink,0.0,NaN,0.0,0.0,0.0
company_region,4911.0,NaN,8030.0,12485.0,10167.0
company_state_code,4949.0,NaN,8547.0,13431.0,10946.0
content,NaN,0.0,NaN,NaN,NaN
first_funding_at,NaN,NaN,24.0,NaN,NaN
founded_at,NaN,NaN,15221.0,NaN,NaN
funded_at,NaN,NaN,NaN,0.0,0.0
funding_round_code,NaN,NaN,NaN,87585.0,83809.0
funding_round_permalink,NaN,NaN,NaN,0.0,0.0
funding_round_type,NaN,NaN,NaN,0.0,0.0
funding_rounds,NaN,NaN,0.0,NaN,NaN
funding_total_usd,NaN,NaN,0.0,NaN,NaN
homepage_url,NaN,NaN,5058.0,NaN,NaN
investor_city,NaN,NaN,NaN,32164.0,NaN
investor_country_code,NaN,NaN,NaN,30939.0,NaN
investor_name,NaN,NaN,NaN,12.0,NaN
investor_permalink,NaN,NaN,NaN,12.0,NaN
investor_region,NaN,NaN,NaN,43217.0,NaN
investor_state_code,NaN,NaN,NaN,44739.0,NaN
last_funding_at,NaN,NaN,0.0,NaN,NaN
month_str,NaN,0.0,NaN,NaN,NaN
price_amount,13957.0,NaN,NaN,NaN,NaN
price_currency_code,7.0,NaN,NaN,NaN,NaN
raised_amount_usd,NaN,NaN,NaN,21619.0,19990.0
status,NaN,NaN,0.0,NaN,NaN
value,NaN,0.0,NaN,NaN,NaN
year_str,NaN,0.0,NaN,NaN,NaN

In [22]:
for df in dfAll:
    print(df.dtypes, end = "\n\n")

company_permalink          object
company_name               object
company_category_list      object
company_country_code       object
company_state_code         object
company_region             object
company_city               object
acquirer_permalink         object
acquirer_name              object
acquirer_category_list     object
acquirer_country_code      object
acquirer_state_code        object
acquirer_region            object
acquirer_city              object
acquired_at                object
acquired_month             object
price_amount              float64
price_currency_code        object
dtype: object

content      object
month_str    object
year_str      int64
value         int64
dtype: object

company_permalink        object
company_name             object
homepage_url             object
company_category_list    object
funding_total_usd        object
status                   object
company_country_code     object
company_state_code       object
company_region           object
company_city             object
funding_rounds            int64
founded_at               object
first_funding_at         object
last_funding_at          object
dtype: object

company_permalink           object
company_name                object
company_category_list       object
company_country_code        object
company_state_code          object
company_region              object
company_city                object
investor_permalink          object
investor_name               object
investor_country_code       object
investor_state_code         object
investor_region             object
investor_city               object
funding_round_permalink     object
funding_round_type          object
funding_round_code          object
funded_at                   object
raised_amount_usd          float64
dtype: object

company_permalink           object
company_name                object
company_category_list       object
company_country_code        object
company_state_code          object
company_region              object
company_city                object
funding_round_permalink     object
funding_round_type          object
funding_round_code          object
funded_at                   object
raised_amount_usd          float64
dtype: object

Notice that there is one row that doesn't contain a company name, <br>
so let's validate that it is the same company across all datasets, <br>
so we can remove it:

In [21]:
for df in dfAll:
    print(df.loc[df['company_name'].isnull()].iloc[0, 0])

mendatio"

KeyError: 'company_name'

So apparently, the `acquisitions` dataset has a different permalink that has no company name, <br>
So we could remove these two companies, as the total number of companies are big enough to get the insight that we want:

## "additions" Dataset

In [ ]:
additions.sample(5)

                      content month_str  year_str  value
1185                   Rounds   2010-02      2010    712
277              Acquisitions   2014-04      2014    229
1314            Rounds: angel   2012-03      2012     36
899   Profiles: Organizations   2012-04      2012   2046
206              Acquisitions   2008-05      2008    148

In [ ]:
additions["content"].unique()

array(['Acquisitions', 'IPOs', 'Profiles', 'Profiles: Organizations',
       'Profiles: People', 'Profiles: Products', 'Rounds',
       'Rounds: angel', 'Rounds: convertible_note',
       'Rounds: debt_financing', 'Rounds: equity_crowdfunding',
       'Rounds: grant', 'Rounds: non_equity_assistance',
       'Rounds: post_ipo_debt', 'Rounds: post_ipo_equity',
       'Rounds: private_equity', 'Rounds: product_crowdfunding',
       'Rounds: secondary_market', 'Rounds: seed', 'Rounds: undisclosed',
       'Rounds: venture'], dtype=object)

In [ ]:
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,permalink,company_permalink,company_permalink
1,company_name,month_str,name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,country_code,company_city,company_city
7,acquirer_permalink,,state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,region,investor_name,funding_round_type
9,acquirer_category_list,,city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

In [ ]:
additions.shape

(2213, 4)

In [ ]:
companies.shape, rounds.shape

((66368, 14), (114949, 12))

So apparently there are no columns that could be used to join with the other datasets. <br>
Furthermore, the "value" column is too vague to be useful. <br>
Therefore, the "additions" dataset will be discarded.

In [ ]:
dfAll.pop(1)
lstCsvNames.pop(1)
len(dfAll), lstCsvNames

(4, ['acquisitions', 'companies', 'investments', 'rounds'])

## `rounds` Dataset

In [ ]:
dfAllCols.iloc[:, -2:]

                investments                   rounds
0         company_permalink        company_permalink
1              company_name             company_name
2     company_category_list    company_category_list
3      company_country_code     company_country_code
4        company_state_code       company_state_code
5            company_region           company_region
6              company_city             company_city
7        investor_permalink  funding_round_permalink
8             investor_name       funding_round_type
9     investor_country_code       funding_round_code
10      investor_state_code                funded_at
11          investor_region        raised_amount_usd
12            investor_city
13  funding_round_permalink
14       funding_round_type
15       funding_round_code
16                funded_at
17        raised_amount_usd

In [ ]:
invests.shape, rounds.shape

((168647, 18), (114949, 12))

In [ ]:
invests.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,3/19/2008,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,7/24/2014,NaN
2,/organization/01games-technology,01Games Technology,Games,HKG,NaN,Hong Kong,Hong Kong,/organization/cyberport-hong-kong,Cyberport Hong Kong,HKG,NaN,Hong Kong,Hong Kong,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,7/1/2014,41250.0
3,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/capital-one,Capital One,USA,VA,"Washington, D.C.",Mclean,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,11/9/2015,20000000.0
4,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/nexus-venture-partners,Nexus Venture Partners,USA,CA,SF Bay Area,Menlo Park,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,5/22/2013,3000000.0

In [ ]:
rounds.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,1/5/2015,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,10/14/2014,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,3/1/2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,1/30/2014,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,3/19/2008,2000000.0

In [ ]:
len(invests["company_name"].unique()), len(rounds["company_name"].unique())

(44579, 66103)

Since there are companies in `rounds` dataset that are not in `investments` dataset, <br>
therefore we should keep `rounds` dataset for further analysis.

## `companies` Dataset

In [ ]:
companies.sample(5).T

,17216,13081,20305,57255,36753
permalink,/organization/econnect,/organization/contextool,/organization/fiksu,/organization/the-3doodler,/organization/molecular-biometrics
name,eConnect,Contextool,Fiksu,The 3Doodler,Molecular Biometrics
homepage_url,http://www.econnectholdings.com/,http://contextool.com,http://www.fiksu.com,http://www.the3doodler.com,http://www.molecularbiometrics.com
category_list,NaN,Photography|Software|Video,Apps|Mobile|Mobile Advertising,Gadget,Biotechnology
funding_total_usd,7000000,52000,16749993,3840000,24500000
status,closed,operating,operating,operating,operating
country_code,NaN,LTU,USA,NaN,USA
state_code,NaN,58,MA,NaN,MA
region,NaN,LTU - Other,Boston,NaN,Boston
city,NaN,Klaipeda,Boston,NaN,Norwood
funding_rounds,1,1,3,2,2
founded_at,NaN,6/1/2013,12/1/2008,1/1/2013,NaN
first_funding_at,3/1/2001,5/8/2014,2/18/2010,3/25/2013,11/10/2008
last_funding_at,3/1/2001,5/8/2014,7/2/2012,1/25/2015,1/12/2010

In [ ]:
companies.isnull().sum()

permalink                0
name                     1
homepage_url          5058
category_list         3148
funding_total_usd        0
status                   0
country_code          6958
state_code            8547
region                8030
city                  8028
funding_rounds           0
founded_at           15221
first_funding_at        24
last_funding_at          0
dtype: int64

we will need to remove the none values of the following columns <br>
based on the question that we are trying to gain insight for: <br>
1.	Can the factors that affect a start-up’s growth be determined?
    -	For this: We are initially interested in <br> `funding_total_usd`, `status`, `funding_rounds`, `first_funding_at`, and `last_funding_at`
    -   So we could remove the 24 null values of `first_funding_at` since they are so small <br>
        compared to the rest of the dataset
2.  Do taxes play an important factor in deciding a start-up’s success?