# Notes to Improve Workflow

In [53]:
# Setup matplotlib to plot inline (within the notebook)
%matplotlib inline
# Import the pyplot module of Matplotlib as plt
import matplotlib.pyplot as plt
# Import pandas under the abbreviation 'pd'
import pandas as pd
# Import NumPy under the abbreviation 'np'
import numpy as np
# Libraries to aid in web scraping
import requests
from bs4 import BeautifulSoup

#Notes for efficienccy:
#shift + tab when cursor is in arguments to bring up its documentation
#ex: pd.DataFrame(Shift+tab here)
#recall: Json == Dictionary
#to know functions of pandas:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

# Reading The Data

In [2]:
# using pandas and read_csv()
acquis = pd.read_csv("datasets/startups/acquisitions.csv")
additions = pd.read_csv("datasets/startups/additions.csv")
companies = pd.read_csv("datasets/startups/companies.csv")
invests = pd.read_csv("datasets/startups/investments.csv")
rounds = pd.read_csv("datasets/startups/rounds.csv")
dfAll = [acquis, additions, companies, invests, rounds]

In [3]:
#shapes (rows x cols) of each dataset
for ele in dfAll:
    print(ele.shape)

(18969, 18)
(2213, 4)
(66368, 14)
(168647, 18)
(114949, 12)

# Samples of the datasets

In [4]:
acquis.sample(5).transpose()

,16705,11508,15222,16091,5701
company_permalink,/organization/the-kelsey-group,/organization/nexplanar,/organization/skywave-mobile,/organization/superderivatives,/organization/epl-oil-gas
company_name,The Kelsey Group,NexPlanar,SkyWave Mobile,SuperDerivatives,EPL Oil & Gas
company_category_list,NaN,Semiconductors,Gps|Mobile|Tracking,Analytics|Finance|FinTech|Information Services...,Clean Technology
company_country_code,NaN,USA,CAN,ISR,USA
company_state_code,NaN,OR,ON,5,TX
company_region,NaN,"Portland, Oregon",Ottawa,Tel Aviv,Houston
company_city,NaN,Hillsboro,Ottawa,Tel Aviv,Houston
acquirer_permalink,/organization/bia-financial-network,/organization/cabot-microelectronics-corporation,/organization/orbcomm,/organization/intercontinentalexchange,/organization/energy-xxi
acquirer_name,BIA Financial Network,Cabot Microelectronics Corporation,ORBCOMM,IntercontinentalExchange,Energy XXI
acquirer_category_list,Consulting,Semiconductors,Telecommunications,Brokers|Finance|Financial Exchanges|Financial ...,Clean Technology
acquirer_country_code,USA,USA,USA,USA,USA
acquirer_state_code,VA,IL,NJ,GA,TX
acquirer_region,"Washington, D.C.",Chicago,Newark,Atlanta,Houston
acquirer_city,Chantilly,Aurora,Rochelle Park,Atlanta,Houston
acquired_at,10/6/2008,12/28/2015,11/6/2014,9/5/2014,3/12/2014
acquired_month,2008-10,2015-12,2014-11,2014-09,2014-03
price_amount,NaN,NaN,130000000.0,350000000.0,1530000000.0
price_currency_code,USD,USD,USD,USD,USD

In [5]:
additions.sample(5).transpose()

,988,152,313,177,1038
content,Profiles: People,Acquisitions,IPOs,Acquisitions,Profiles: People
month_str,2011-01,2003-11,1979-01,2005-12,2015-03
year_str,2011,2003,1979,2005,2015
value,2403,54,2,57,12945

In [6]:
companies.sample(5).transpose()

,47891,66157,46533,34640,24481
permalink,/organization/repica,/organization/zomazz,/organization/quintessence-biosciences,/organization/maz,/organization/gura-gear
name,repica,Zomazz,Quintessence Biosciences,MAZ,Gura Gear
homepage_url,http://www.repica.jp/,http://www.zomazz.com,http://quintbio.com,http://www.mazdigital.com,http://guragear.com/
category_list,Email|Gift Card|Subscription Service,Curated Web,Biotechnology,iPad|Mobile|Publishing,Local Businesses|Professional Services|Retail|...
funding_total_usd,874789,2040342,1486000,1000000,1300000
status,operating,operating,closed,operating,operating
country_code,NaN,USA,USA,USA,USA
state_code,NaN,CA,WI,NY,UT
region,NaN,Los Angeles,Madison,New York City,Salt Lake City
city,NaN,Monterey Park,Madison,New York,Ogden
funding_rounds,1,1,1,3,1
founded_at,8/1/2006,1/1/2010,1/1/2000,7/1/2010,NaN
first_funding_at,11/6/2014,6/20/2012,6/26/2012,11/14/2012,7/7/2014
last_funding_at,11/6/2014,6/20/2012,6/26/2012,8/1/2013,7/7/2014

In [7]:
invests.sample(5).transpose()

,93360,90852,16295,9933,151980
company_permalink,/organization/motionmetrics,/organization/mirabilis-medica,/organization/beauty-noted,/organization/applied-life,/organization/tuition-io
company_name,MotionMetrics,Mirabilis Medica,Beauty Noted,Applied Life,Tuition.io
company_category_list,Hardware + Software|Wearables,Health Care,Beauty,Human Resources,Education|Finance|Financial Services|Personal ...
company_country_code,GBR,USA,USA,IND,USA
company_state_code,H9,WA,CA,36,CA
company_region,London,Seattle,SF Bay Area,New Delhi,Los Angeles
company_city,London,Bothell,Menlo Park,Noida,Santa Monica
investor_permalink,/person/sean-osullivan-2,/organization/charter-life-sciences,/organization/kortschak-investments-l-p,/person/rajan-anandan,/person/brian-mcloughlin
investor_name,Sean O'Sullivan,Charter Life Sciences,"Kortschak Investments, L.P.",Rajan Anandan,Brian McLoughlin
investor_country_code,USA,USA,USA,IND,USA
investor_state_code,NaN,CA,CA,NaN,NaN
investor_region,NaN,SF Bay Area,SF Bay Area,NaN,NaN
investor_city,New York,Santa Clara,Menlo Park,NaN,Santa Monica
funding_round_permalink,/funding-round/3b61482b61fc47a9bdd435c6b2ba323a,/funding-round/c917520a9e6409561c89f0752de5b2bd,/funding-round/b9dd43c96e9083bdaac8442b79687d63,/funding-round/30082ce24401f114790f457e7ccd578a,/funding-round/99eb7c7294219f69ee3dd7c873b53b94
funding_round_type,grant,venture,seed,seed,seed
funding_round_code,NaN,A,NaN,NaN,NaN
funded_at,9/1/2014,8/22/2007,5/6/2014,8/12/2015,1/1/2015
raised_amount_usd,50000.0,10500000.0,2200000.0,NaN,1250000.0

In [8]:
rounds.sample(5).transpose()

,90830,43287,62882,98556,54789
company_permalink,/organization/slips-technologies,/organization/health-benefits-direct,/organization/mobile-patrol,/organization/telderi,/organization/lazure-scientific
company_name,SLIPS Technologies,Health Benefits Direct,Mobile Patrol,Telderi,LaZure Scientific
company_category_list,Assisitive Technology|Chemicals|Specialty Chem...,Finance|FinTech,Software,NaN,Hardware + Software
company_country_code,USA,USA,NaN,NaN,USA
company_state_code,MA,PA,NaN,NaN,WA
company_region,Boston,Philadelphia,NaN,NaN,Seattle
company_city,Cambridge,Radnor,NaN,NaN,Issaquah
funding_round_permalink,/funding-round/640110efcf6827953852a32762c5d6f4,/funding-round/9405d966743e2cdea694b52dca82fe19,/funding-round/050bb45b451cbc7797f20f49c924476f,/funding-round/367397d88b4bddb42af2ec227fb31270,/funding-round/5223bce81ca80e7efa0dd84c941eaffa
funding_round_type,venture,venture,venture,venture,product_crowdfunding
funding_round_code,A,NaN,NaN,NaN,NaN
funded_at,10/29/2014,10/1/2010,10/14/2011,1/1/2013,4/7/2010
raised_amount_usd,3000000.0,5400000.0,250000.0,NaN,2014005.0

# Seeing the columns in the datasets

In [9]:
def datasetsCols(dfList, datasetNames, pad=""):
    """
    Takes dataframes and returns a dataframe (df) with each column having a df's
    column names. The "pad" is to make sure all lists of columns have 
    the same length padded out with "pad"
    Example
    pad = "XX", datasetNames = ["cars", "planes"]
    dfList = [carsDF, planesDF]
    returned data frame:
            cars            planes
    0       numOfWheels     numOfWings
    1       manufacturer    manufacturer
    2       make            XX
    """
    cols = []
    maxArrayLen = 0
    for i, df in enumerate(dfList):
        cols.append(df.columns.tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(dfList):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        dictCsvs.update({datasetNames[i] : cols[i]})

    return pd.DataFrame(dictCsvs)

In [10]:
lstCsvNames = ["acquisitions", "additions", "companies", "investments", "rounds"]

dfAllCols = datasetsCols(dfAll, lstCsvNames)
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,permalink,company_permalink,company_permalink
1,company_name,month_str,name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,country_code,company_city,company_city
7,acquirer_permalink,,state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,region,investor_name,funding_round_type
9,acquirer_category_list,,city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

# Data Cleaning

First, lets change the columns in the `companies` dataset <br>
to be the similar to all other datasets: <br>
(we're doing this in case we merge the datasets together, we want them to have the same column names)

In [11]:
companies.rename(columns = {'permalink' : 'company_permalink', 
                            'name' : 'company_name',
                            'category_list' : 'company_category_list',
                            'country_code' : 'company_country_code',
                            'state_code' : 'company_state_code',
                            'region' : 'company_region',
                            'city' : 'company_city'}, inplace = True)

In [12]:
dfAll[2] = companies
dfAllCols = datasetsCols(dfAll, lstCsvNames)
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,company_permalink,company_permalink,company_permalink
1,company_name,month_str,company_name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,company_category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,company_country_code,company_city,company_city
7,acquirer_permalink,,company_state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,company_region,investor_name,funding_round_type
9,acquirer_category_list,,company_city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

Let's start by analyzing `additions` dataset, as it has unusual format of columns

## Removing "additions" Dataset

In [13]:
additions.sample(5)

                          content month_str  year_str  value
283                  Acquisitions   2014-10      2014    290
1545  Rounds: equity_crowdfunding   2014-11      2014    153
1785       Rounds: private_equity   2010-12      2010      3
1182                       Rounds   2009-11      2009    433
1482       Rounds: debt_financing   2013-05      2013    135

In [14]:
additions["content"].unique()

array(['Acquisitions', 'IPOs', 'Profiles', 'Profiles: Organizations',
       'Profiles: People', 'Profiles: Products', 'Rounds',
       'Rounds: angel', 'Rounds: convertible_note',
       'Rounds: debt_financing', 'Rounds: equity_crowdfunding',
       'Rounds: grant', 'Rounds: non_equity_assistance',
       'Rounds: post_ipo_debt', 'Rounds: post_ipo_equity',
       'Rounds: private_equity', 'Rounds: product_crowdfunding',
       'Rounds: secondary_market', 'Rounds: seed', 'Rounds: undisclosed',
       'Rounds: venture'], dtype=object)

In [15]:
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,company_permalink,company_permalink,company_permalink
1,company_name,month_str,company_name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,company_category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,company_country_code,company_city,company_city
7,acquirer_permalink,,company_state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,company_region,investor_name,funding_round_type
9,acquirer_category_list,,company_city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

In [16]:
additions.shape

(2213, 4)

In [17]:
companies.shape, rounds.shape

((66368, 14), (114949, 12))

So apparently there are no columns that could be used to join with the other datasets. <br>
Furthermore, the "value" column is too vague to be useful. <br>
Therefore, the "additions" dataset will be discarded.

In [18]:
dfAll.pop(1)
lstCsvNames.pop(1)
len(dfAll), lstCsvNames

(4, ['acquisitions', 'companies', 'investments', 'rounds'])

# Data Cleaning (Cont.)

## Checking All Missing Values

In [19]:
def datasetsNulls(dfList, datasetNames, nullCol="nulls_", pad=""):
    """
    Use this when you want to display a column of column names,
    then a column of the null values, and repeat that for each dataset.
    Returns a dataframe
    """
    cols = []
    nulls = []
    maxArrayLen = 0
    for i, df in enumerate(dfList):
        cols.append(df.columns.tolist())
        nulls.append(df.isnull().sum().tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(dfList):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        nulls[i] += [None] *  (maxArrayLen - len(nulls[i]))
        dictCsvs[datasetNames[i]] = cols[i]
        dictCsvs[nullCol + str(i+1)] = nulls[i]
    
    return pd.DataFrame(dictCsvs)

In [20]:
dfAllNulls = datasetsNulls(dfAll, lstCsvNames)
dfAllNulls

,acquisitions,nulls_1,companies,nulls_2,investments,nulls_3,rounds,nulls_4
0,company_permalink,0,company_permalink,0.0,company_permalink,0,company_permalink,0.0
1,company_name,1,company_name,1.0,company_name,1,company_name,1.0
2,company_category_list,4984,homepage_url,5058.0,company_category_list,3632,company_category_list,3410.0
3,company_country_code,4669,company_category_list,3148.0,company_country_code,10521,company_country_code,8678.0
4,company_state_code,4949,funding_total_usd,0.0,company_state_code,13431,company_state_code,10946.0
5,company_region,4911,status,0.0,company_region,12485,company_region,10167.0
6,company_city,4911,company_country_code,6958.0,company_city,12483,company_city,10164.0
7,acquirer_permalink,1,company_state_code,8547.0,investor_permalink,12,funding_round_permalink,0.0
8,acquirer_name,1,company_region,8030.0,investor_name,12,funding_round_type,0.0
9,acquirer_category_list,2389,company_city,8028.0,investor_country_code,30939,funding_round_code,83809.0
10,acquirer_country_code,1171,funding_rounds,0.0,investor_state_code,44739,funded_at,0.0
11,acquirer_state_code,1436,founded_at,15221.0,investor_region,43217,raised_amount_usd,19990.0
12,acquirer_region,1360,first_funding_at,24.0,investor_city,32164,,NaN
13,acquirer_city,1360,last_funding_at,0.0,funding_round_permalink,0,,NaN
14,acquired_at,13,,NaN,funding_round_type,0,,NaN
15,acquired_month,15,,NaN,funding_round_code,87585,,NaN
16,price_amount,13957,,NaN,funded_at,0,,NaN
17,price_currency_code,7,,NaN,raised_amount_usd,21619,,NaN

### `dropna()` for columns with few missing values

Notice that there is one row that doesn't contain a company name, <br>
so let's validate that it is the same company across all datasets, <br>
so we can remove it:

In [21]:
datasetsCols(dfAll, lstCsvNames)

,acquisitions,companies,investments,rounds
0,company_permalink,company_permalink,company_permalink,company_permalink
1,company_name,company_name,company_name,company_name
2,company_category_list,homepage_url,company_category_list,company_category_list
3,company_country_code,company_category_list,company_country_code,company_country_code
4,company_state_code,funding_total_usd,company_state_code,company_state_code
5,company_region,status,company_region,company_region
6,company_city,company_country_code,company_city,company_city
7,acquirer_permalink,company_state_code,investor_permalink,funding_round_permalink
8,acquirer_name,company_region,investor_name,funding_round_type
9,acquirer_category_list,company_city,investor_country_code,funding_round_code
10,acquirer_country_code,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,founded_at,investor_region,raised_amount_usd
12,acquirer_region,first_funding_at,investor_city,
13,acquirer_city,last_funding_at,funding_round_permalink,
14,acquired_at,,funding_round_type,
15,acquired_month,,funding_round_code,
16,price_amount,,funded_at,
17,price_currency_code,,raised_amount_usd,

In [22]:
#company_permalink of each row that doesn't have a company name:
for df in dfAll:
    print(df[df['company_name'].isnull()]['company_permalink'].values)

['mendatio"']
['/organization/tell-it-in']
['/organization/tell-it-in']
['/organization/tell-it-in']

So apparently, the `acquisitions` dataset has a different permalink that has no company name, <br>
So we could remove these two companies, as the total number of companies are big enough to get the insight that we want.

`dfAllNulls` dataframe also shows that there are missing values for `acquirer_name` and `investor_name` <br>
which can't be imputed, so we'll also remove them.

Finally, we'll remove the missing values for columns that have less than 100 `NaN`, <br>
as they're small in comparison to their respective datasets:

In [23]:
for df in dfAll:
    nulls = df.isnull().sum()
    cols = nulls[(nulls <= 100) & (nulls != 0)].index.tolist()
    df.dropna(subset=cols, inplace=True)
dfAllNulls = datasetsNulls(dfAll, lstCsvNames)
dfAllNulls

,acquisitions,nulls_1,companies,nulls_2,investments,nulls_3,rounds,nulls_4
0,company_permalink,0,company_permalink,0.0,company_permalink,0,company_permalink,0.0
1,company_name,0,company_name,0.0,company_name,0,company_name,0.0
2,company_category_list,4977,homepage_url,5058.0,company_category_list,3632,company_category_list,3410.0
3,company_country_code,4661,company_category_list,3147.0,company_country_code,10521,company_country_code,8678.0
4,company_state_code,4940,funding_total_usd,0.0,company_state_code,13431,company_state_code,10946.0
5,company_region,4902,status,0.0,company_region,12485,company_region,10167.0
6,company_city,4902,company_country_code,6956.0,company_city,12483,company_city,10164.0
7,acquirer_permalink,0,company_state_code,8545.0,investor_permalink,0,funding_round_permalink,0.0
8,acquirer_name,0,company_region,8028.0,investor_name,0,funding_round_type,0.0
9,acquirer_category_list,2387,company_city,8026.0,investor_country_code,30927,funding_round_code,83808.0
10,acquirer_country_code,1168,funding_rounds,0.0,investor_state_code,44727,funded_at,0.0
11,acquirer_state_code,1432,founded_at,15218.0,investor_region,43205,raised_amount_usd,19990.0
12,acquirer_region,1356,first_funding_at,0.0,investor_city,32152,,NaN
13,acquirer_city,1356,last_funding_at,0.0,funding_round_permalink,0,,NaN
14,acquired_at,0,,NaN,funding_round_type,0,,NaN
15,acquired_month,0,,NaN,funding_round_code,87576,,NaN
16,price_amount,13941,,NaN,funded_at,0,,NaN
17,price_currency_code,0,,NaN,raised_amount_usd,21619,,NaN

## Converting & Imputing Dates

[SAY WHAT YOU WILL DO HERE FARAH:]

In [24]:
#Farah: plz impute (not drop) the columns' missing values related to dates in each dataset which are:
#founded_at.. and that's it :] 
# Suggestion: convert the dates of all the columns that have date values from "object" to datetime
#       Helpful link: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#converting-to-timestamps
# Then, make the founded_at a couple of days before first_funding_at

#Sincerely No. -Farah :)

We are currently interested in 'founded_at', 'first_funding_at' and 'last_funding_at'. Before doing operations on dates, they need to be converted first from 'Object' to 'DateTime'.

In [25]:
companies['founded_at'] =pd.to_datetime(companies['founded_at'], errors = 'coerce')
companies['first_funding_at'] =pd.to_datetime(companies['first_funding_at'], errors = 'coerce')
companies['last_funding_at'] =pd.to_datetime(companies['last_funding_at'], errors = 'coerce')
companies.dtypes

company_permalink                object
company_name                     object
homepage_url                     object
company_category_list            object
funding_total_usd                object
status                           object
company_country_code             object
company_state_code               object
company_region                   object
company_city                     object
funding_rounds                    int64
founded_at               datetime64[ns]
first_funding_at         datetime64[ns]
last_funding_at          datetime64[ns]
dtype: object

After converting, we need to impute the missing values on the dates of when those companies where founded at. So, this will be done by first creating a new column that calculates how long it took to get the first funing. This will be done by subtracting the date of the founding from the date of the first funding.

In [26]:
companies['time_before_first_fund'] = companies['first_funding_at'] - companies['founded_at']
companies['time_before_first_fund']

0             NaT
1       -187 days
2             NaT
3        443 days
4       1665 days
           ...
66363         NaT
66364   -194 days
66365   1308 days
66366    365 days
66367         NaT
Name: time_before_first_fund, Length: 66343, dtype: timedelta64[ns]

Now we need to calculate the mean of the time before the first funding and impute the missing values with this average.

In [27]:
companies['time_before_first_fund'].fillna(companies['time_before_first_fund'].mean(), inplace = True)
companies['time_before_first_fund']

0       1370 days 03:49:18.015610624
1                -187 days +00:00:00
2       1370 days 03:49:18.015610624
3                  443 days 00:00:00
4                 1665 days 00:00:00
                    ...
66363   1370 days 03:49:18.015610624
66364            -194 days +00:00:00
66365             1308 days 00:00:00
66366              365 days 00:00:00
66367   1370 days 03:49:18.015610624
Name: time_before_first_fund, Length: 66343, dtype: timedelta64[ns]

After calculating the mean and filling the nulls with it, now we can impute the missing dates in the 'founded_at' column by subtracting the time before first funding from the first funding date.

In [28]:
companies['founded_at'].fillna(companies['first_funding_at'] - companies['time_before_first_fund'], inplace = True)
companies['founded_at']

0       2011-04-05 20:10:41.984389376
1       2014-09-04 00:00:00.000000000
2       2010-04-30 20:10:41.984389376
3       2007-01-01 00:00:00.000000000
4       2010-01-01 00:00:00.000000000
                     ...
66363   2008-06-30 20:10:41.984389376
66364   2012-05-13 00:00:00.000000000
66365   2011-01-01 00:00:00.000000000
66366   2014-01-01 00:00:00.000000000
66367   2009-12-30 20:10:41.984389376
Name: founded_at, Length: 66343, dtype: datetime64[ns]

In [29]:
#farah stop point here

## Cleaning & Imputing Geographical Locations

### Removing `company_state_code` and `company_region`

We don't need `company_state_code` in our analysis, <br>
As country code and city are sufficient to know <br>
an approximation of the geographical location of the company. <br>
Therefore, let's remove it:

In [30]:
companies[['company_country_code', 'company_state_code', 'company_city']].head(10)

  company_country_code company_state_code   company_city
0                  IND                 16         Mumbai
1                  USA                 DE  Delaware City
2                  NaN                NaN            NaN
3                  CHN                 22        Beijing
4                  USA                 IL      Champaign
5                  HKG                NaN      Hong Kong
6                  CAN                 BC      Vancouver
7                  USA                 CA  Mountain View
8                  USA                 CA  San Francisco
9                  CHL                 12     Las Condes

In [31]:
companies.drop('company_state_code', axis=1, inplace=True)

`company_region` is also redundent, as it is usually the same as `company_city`.<br>
Let's validate this:

In [32]:
# Note: same logic applies for the permalinks
acquis.dropna(subset=['acquirer_permalink', 'acquirer_name'], inplace=True)
invests.dropna(subset=['investor_permalink', 'investor_name'], inplace=True)

Also, we'll remove the missing values for columns that have less than 100 `NaN`, <br>
as they're small in comparison to their respective datasets:

In [33]:
companies[companies.company_region == companies.company_city][['company_region', 'company_city']]

      company_region company_city
0             Mumbai       Mumbai
3            Beijing      Beijing
5          Hong Kong    Hong Kong
6          Vancouver    Vancouver
11           Orlando      Orlando
...              ...          ...
66354           Bath         Bath
66360      Milwaukee    Milwaukee
66362         London       London
66363        Beijing      Beijing
66364          Split        Split

[25360 rows x 2 columns]

Let's see the mean of similarity between the strings using builtin library `difflib.SequenceMatcher`:

In [34]:
from difflib import SequenceMatcher
similarities = []
rgs = companies.company_region.values.tolist()
cts = companies.company_city.values.tolist()
for i in range(min(len(rgs), len(cts))):
    if not (rgs[i] != rgs[i] or cts[i] != cts[i]): # If either of the elements is NaN, then don't find the similarity
        similarities.append(SequenceMatcher(None, rgs[i], cts[i]).ratio()) # Gets the similarity between each two strings
avgSim = sum(similarities) / len(similarities)
avgSim

0.6175093624179544

However, `SequenceMatcher` only finds the longest contiguous matching subsequence, <br>
and all other characters will drastically decrease the similarity, which isn't very accurate, <br>
Therefore, let's try to see how many times a string is a substring of another:

In [35]:
subsCount = 0
for i in range(min(len(rgs), len(cts))):
    if not (rgs[i] != rgs[i] or cts[i] != cts[i]):
        subsCount += (rgs[i] in cts[i] or cts[i] in rgs[i])
subsCount

29884

So to summarize: almost half of the companies have the same data for `region` and `city` (25360) <br>
There are around 5000 companies that have the same semantic meaning between the data <br>
(e.g: 'New York City' is the same as 'NYC, New York City') <br>
Therefore, `company_region` can be removed without losing any possible future insights:

In [36]:
companies.drop('company_region', axis=1, inplace=True)

### Imputing `company_country_code` and `company_city`

Steps to impute country codes is to do the following for all missing values:
1. check the company's permalink
2. find HTML that contains the headquarters location (country and city)
3. scrape country and convert it to country code using `pycountry.countries`
4. scrape city and impute it in `company_city`

Step 1: appending "https://www.crunchbase.com" to each permalink <br>
to be able to access the company's webpage on crunchbase. <br>
However, since the new permalink will be much longer (thus slower for accessing as a dataset's primary index) <br>
we'll create a function that appends the string as a prefix and that will be accessed throughout the notebook

In [52]:
##################################### function "visitLink()" used throughout the notebook #####################################
visitLink = lambda s : "https://www.crunchbase.com" + s

Step 2: Finding location of country and city on the webpage:
let's check company [004](https://www.crunchbase.com/organization/004)'s webpage for example: <Br>
<img src="Phase 1/countryAndCityInCrunchbase.png" width=400 height=300 />

By inspecting the HTML, we notice 4 instances of the class <br>
`component--field-formatter field-type-identifier-multi` (in a `span` element),<br>and the data that we want
is always the first instance: <br>
<img src="Phase 1/countryAndCityLocationInHTML.png" width=700 height=500 />

Step 3: scrape that info using `requests` and `bs4` libraries: <br>
(Note, we're using `threading.Thread` here to increase performance by scraping in multithreads)

In [56]:
from threading import Thread
def imputeFromLinks(df, linkCol, colToImpute, linkPrefix = ""):
    links = df[df[colToImpute].isnull()][[linkCol]] # leave it as a series (i.e. don't ".tolist()") to impute it in fillna() below
    results = [Thread(target=fetchCountry, args=(linkPrefix+link)) for link in links]

36

In [37]:
companies[companies.company_country_code.isnull() == False].sample(10)

,company_permalink,company_name,homepage_url,company_category_list,funding_total_usd,status,company_country_code,company_city,funding_rounds,founded_at,first_funding_at,last_funding_at,time_before_first_fund
55429,/organization/supercell,Supercell,http://supercell.com/,Games,143025351.2,acquired,FIN,Helsinki,3,2010-05-01,2010-10-01,2013-04-18,153 days
49660,/organization/savemeeting,SaveMeeting,http://www.savemeeting.com,Audio|Enterprise Software|Meeting Software,160374,operating,ESP,Madrid,1,2010-07-30,2011-11-30,2011-11-30,488 days
20354,/organization/filtosh-inc,Filtosh Inc.,http://www.filtosh.com,Big Data Analytics|Recruiting|SaaS,40000,operating,USA,Santa Monica,1,2013-07-11,2014-06-11,2014-06-11,335 days
46026,/organization/putney,Putney,http://www.putneyvet.com,Biotechnology,49600064,operating,USA,Portland,5,2006-01-01,2009-11-02,2014-06-23,1401 days
30774,/organization/kite-ping,Kite Ping,http://www.kiteping.com,NaN,-,operating,USA,California City,1,2015-07-20,2015-10-03,2015-10-03,75 days
61057,/organization/valor-medical,Valor Medical,http://valormedical.com,Biotechnology,4080255,operating,USA,San Diego,1,2007-01-01,2009-08-05,2009-08-05,947 days
57516,/organization/the-little-blue-book-mobile,The Little Blue Book Mobile,http://thelittlebluebook.com,Doctors|Medical Professionals|Mobile Commerce,10000000,acquired,USA,Darien,1,1987-01-01,2010-12-07,2010-12-07,8741 days
9372,/organization/camiant,Camiant,http://www.camiant.com,Web Hosting,16100000,acquired,USA,Marlborough,2,2003-01-01,2005-03-29,2007-01-11,818 days
26136,/organization/huitongda,Huitongda,http://www.htd.cn,E-Commerce,-,operating,CHN,Nanjing,1,2008-01-01,2011-12-01,2011-12-01,1430 days
32206,/organization/librestream-technologies-inc,Librestream Technologies Inc.,http://www.librestream.com,Enterprise Software,8592884,operating,CAN,Winnipeg,1,2003-01-01,2008-10-01,2008-10-01,2100 days

In [38]:
companies[companies.company_country_code.isnull() == False].sample(5)

,company_permalink,company_name,homepage_url,company_category_list,funding_total_usd,status,company_country_code,company_city,funding_rounds,founded_at,first_funding_at,last_funding_at,time_before_first_fund
51169,/organization/shine-security,Shine Technologies Corp,http://getshine.com,Advertising|Cyber|Security,3300000,operating,USA,Sunnyvale,2,2011-01-01,2011-12-01,2012-10-01,334 days
38295,/organization/nature-s-next-beverages,Nature's Next Beverages,NaN,NaN,-,operating,USA,Los Angeles,1,2013-12-15,2014-10-19,2014-10-19,308 days
43957,/organization/plannify,Plannify,http://plannify.com,Hospitality,932785,operating,BRA,It,1,2012-11-26,2014-02-05,2014-02-05,436 days
16991,/organization/easybring,Nimber,http://www.nimber.com,Collaboration|Collaborative Consumption|Curate...,850000,operating,GBR,London,1,2010-10-01,2015-08-10,2015-08-10,1774 days
32656,/organization/liquidware-labs,LiquidWare Labs,http://liquidwarelabs.com,Software,2776316,operating,USA,Palatine,2,2009-01-01,2009-04-17,2014-07-21,106 days

In [39]:
companies.company_country_code.unique()

array(['IND', 'USA', nan, 'CHN', 'HKG', 'CAN', 'CHL', 'GBR', 'FRA', 'AUS',
       'DNK', 'ROM', 'AUT', 'KOR', 'NLD', 'SWE', 'JPN', 'RUS', 'SGP',
       'NOR', 'COL', 'ESP', 'BEL', 'IRL', 'ITA', 'ISR', 'NZL', 'CZE',
       'DEU', 'CHE', 'BRA', 'BGR', 'SVN', 'JOR', 'HUN', 'BWA', 'NGA',
       'FIN', 'TUR', 'IDN', 'ARE', 'CYP', 'POL', 'CRI', 'PRT', 'ARG',
       'TWN', 'KHM', 'THA', 'SVK', 'UKR', 'LTU', 'ISL', 'ZAF', 'MEX',
       'VEN', 'URY', 'MUS', 'KEN', 'PHL', 'MNE', 'VNM', 'GHA', 'PSE',
       'MYS', 'PER', 'EGY', 'PAN', 'LVA', 'GGY', 'ALB', 'UGA', 'HRV',
       'EST', 'LBN', 'GRC', 'PAK', 'NPL', 'LUX', 'SAU', 'IRN', 'GTM',
       'BAH', 'ARM', 'BGD', 'MDA', 'SRB', 'TUN', 'ZWE', 'BRB', 'NIC',
       'TAN', 'PRI', 'TTO', 'BHR', 'CMR', 'BLR', 'CYM', 'BRN', 'ECU',
       'SLV', 'MLT', 'ZMB', 'MKD', 'GIB', 'TGO', 'LAO', 'BMU', 'HND',
       'MCO', 'MMR', 'KAZ', 'QAT', 'DOM', 'MAR', 'LIE', 'GEO', 'MOZ',
       'DZA', 'JAM', 'KNA', 'AZE', 'SEN', 'RWA', 'DMA', 'UZB', 'BLZ',
       'OMN', 'JEY', 'KWT', 'CIV', 'BLM', 'GRD', 'LKA', 'SOM', 'SYC',
       'PRY', 'MAF'], dtype=object)

## Checking All `dtypes`

In [40]:
def datasetsDtypes(dfList, datasetNames, dtypesCol="dtypes_", pad=""):
    cols = []
    nulls = []
    maxArrayLen = 0
    for i, df in enumerate(dfList):
        cols.append(df.columns.tolist())
        nulls.append(df.dtypes.tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(dfList):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        nulls[i] += [None] *  (maxArrayLen - len(nulls[i]))
        dictCsvs[datasetNames[i]] = cols[i]
        dictCsvs[dtypesCol + str(i+1)] = nulls[i]
    
    return pd.DataFrame(dictCsvs)

In [41]:
datasetsDtypes(dfAll, lstCsvNames)

,acquisitions,dtypes_1,companies,dtypes_2,investments,dtypes_3,rounds,dtypes_4
0,company_permalink,object,company_permalink,object,company_permalink,object,company_permalink,object
1,company_name,object,company_name,object,company_name,object,company_name,object
2,company_category_list,object,homepage_url,object,company_category_list,object,company_category_list,object
3,company_country_code,object,company_category_list,object,company_country_code,object,company_country_code,object
4,company_state_code,object,funding_total_usd,object,company_state_code,object,company_state_code,object
5,company_region,object,status,object,company_region,object,company_region,object
6,company_city,object,company_country_code,object,company_city,object,company_city,object
7,acquirer_permalink,object,company_city,object,investor_permalink,object,funding_round_permalink,object
8,acquirer_name,object,funding_rounds,int64,investor_name,object,funding_round_type,object
9,acquirer_category_list,object,founded_at,datetime64[ns],investor_country_code,object,funding_round_code,object
10,acquirer_country_code,object,first_funding_at,datetime64[ns],investor_state_code,object,funded_at,object
11,acquirer_state_code,object,last_funding_at,datetime64[ns],investor_region,object,raised_amount_usd,float64
12,acquirer_region,object,time_before_first_fund,timedelta64[ns],investor_city,object,,None
13,acquirer_city,object,,None,funding_round_permalink,object,,None
14,acquired_at,object,,None,funding_round_type,object,,None
15,acquired_month,object,,None,funding_round_code,object,,None
16,price_amount,float64,,None,funded_at,object,,None
17,price_currency_code,object,,None,raised_amount_usd,float64,,None

In [42]:
#AISHA: VISUALIZE

In [43]:
print("Aisha is happy ^^")

Aisha is happy ^^

In [44]:
#Aisha stop

## `rounds` Dataset

In [45]:
dfAllCols.iloc[:, -2:]

                investments                   rounds
0         company_permalink        company_permalink
1              company_name             company_name
2     company_category_list    company_category_list
3      company_country_code     company_country_code
4        company_state_code       company_state_code
5            company_region           company_region
6              company_city             company_city
7        investor_permalink  funding_round_permalink
8             investor_name       funding_round_type
9     investor_country_code       funding_round_code
10      investor_state_code                funded_at
11          investor_region        raised_amount_usd
12            investor_city
13  funding_round_permalink
14       funding_round_type
15       funding_round_code
16                funded_at
17        raised_amount_usd

In [46]:
invests.shape, rounds.shape

((168634, 18), (114948, 12))

In [47]:
invests.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,3/19/2008,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,7/24/2014,NaN
2,/organization/01games-technology,01Games Technology,Games,HKG,NaN,Hong Kong,Hong Kong,/organization/cyberport-hong-kong,Cyberport Hong Kong,HKG,NaN,Hong Kong,Hong Kong,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,7/1/2014,41250.0
3,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/capital-one,Capital One,USA,VA,"Washington, D.C.",Mclean,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,11/9/2015,20000000.0
4,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/nexus-venture-partners,Nexus Venture Partners,USA,CA,SF Bay Area,Menlo Park,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,5/22/2013,3000000.0

In [48]:
rounds.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,1/5/2015,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,10/14/2014,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,3/1/2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,1/30/2014,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,3/19/2008,2000000.0

In [49]:
len(invests["company_name"].unique()), len(rounds["company_name"].unique())

(44577, 66102)

Since there are companies in `rounds` dataset that are not in `investments` dataset, <br>
therefore we should keep `rounds` dataset for further analysis.

## `companies` Dataset

In [50]:
companies.sample(5).T

,54047,12486,19149,28678,28321
company_permalink,/organization/sportlyzer,/organization/colt-defense,/organization/everyart,/organization/invibox,/organization/intematix
company_name,Sportlyzer,Colt Defense,everyArt,Invibox,Intematix
homepage_url,http://www.sportlyzer.com,http://colt.com,http://everyart.com,http://Invibox.com,http://www.intematix.com
company_category_list,Mobile Software Tools|Social Network Media|Sof...,Defense|Law Enforcement|Manufacturing,Curated Web,App Stores|Email|Enterprise Software|Productiv...,Manufacturing
funding_total_usd,506576,33000000,-,300000,40700000
status,operating,operating,closed,closed,operating
company_country_code,EST,USA,USA,NaN,USA
company_city,Tartu,West Hartford,Lucerne Valley,NaN,Fremont
funding_rounds,3,1,1,1,4
founded_at,2009-07-09 00:00:00,1836-01-01 00:00:00,2008-05-30 20:10:41.984389376,2013-04-04 00:00:00,2000-01-01 00:00:00
first_funding_at,2009-08-07 00:00:00,2015-02-10 00:00:00,2012-03-01 00:00:00,2013-05-20 00:00:00,2006-11-20 00:00:00
last_funding_at,2012-05-30 00:00:00,2015-02-10 00:00:00,2012-03-01 00:00:00,2013-05-20 00:00:00,2012-03-13 00:00:00
time_before_first_fund,29 days 00:00:00,65419 days 00:00:00,1370 days 03:49:18.015610624,46 days 00:00:00,2515 days 00:00:00

In [51]:
companies.isnull().sum()

company_permalink            0
company_name                 0
homepage_url              5058
company_category_list     3147
funding_total_usd            0
status                       0
company_country_code      6956
company_city              8026
funding_rounds               0
founded_at                   1
first_funding_at             3
last_funding_at              0
time_before_first_fund       0
dtype: int64

we will need to remove the none values of the following columns <br>
based on the question that we are trying to gain insight for: <br>
1.	Can the factors that affect a start-ups growth be determined?
    -	For this: We are initially interested in <br> `funding_total_usd`, `status`, `funding_rounds`, `first_funding_at`, and `last_funding_at`
    -   So we could remove the 24 null values of `first_funding_at` since they are so small <br>
        compared to the rest of the dataset
2.  Do taxes play an important factor in deciding a start-ups success?