# Notes to Improve Workflow

In [39]:
# Setup matplotlib to plot inline (within the notebook)
%matplotlib inline
# Import the pyplot module of Matplotlib as plt
import matplotlib.pyplot as plt
# Import pandas under the abbreviation 'pd'
import pandas as pd
# Import NumPy under the abbreviation 'np'
import numpy as np

#Notes for efficienccy:
#shift + tab when cursor is in arguments to bring up its documentation
#ex: pd.DataFrame(Shift+tab here)
#recall: Json == Dictionary
#to know functions of pandas:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

# Reading The Data

In [40]:
# using pandas and read_csv()
acquis = pd.read_csv("datasets/startups/acquisitions.csv")
additions = pd.read_csv("datasets/startups/additions.csv")
companies = pd.read_csv("datasets/startups/companies.csv")
invests = pd.read_csv("datasets/startups/investments.csv")
rounds = pd.read_csv("datasets/startups/rounds.csv")
dfAll = [acquis, additions, companies, invests, rounds]

In [41]:
#shapes (rows x cols) of each dataset
for ele in dfAll:
    print(ele.shape)

(18969, 18)
(2213, 4)
(66368, 14)
(168647, 18)
(114949, 12)

# Samples of the datasets

In [42]:
acquis.sample(5).transpose()

,14910,1909,16943,1662,10667
company_permalink,/organization/sherpa-be,/organization/banksimple,/organization/tiny-pictures,/organization/aurora-oil-gas,/organization/mmo-champion
company_name,Sherpa.be,Simple,Tiny Pictures,Aurora Oil & Gas,MMO-Champion
company_category_list,E-Commerce|Entertainment|Events|Ticketing,Banking|Enterprise Software|Finance,Mobile|Photography,Clean Technology,Games
company_country_code,BEL,USA,USA,NaN,NaN
company_state_code,11,OR,CA,NaN,NaN
company_region,Brussels,"Portland, Oregon",SF Bay Area,NaN,NaN
company_city,Brussels,Portland,San Francisco,NaN,NaN
acquirer_permalink,/organization/ticketmaster,/organization/banco-bilbao-vizcaya-argentaria,/organization/shutterfly,/organization/baytex-energy-corp,/organization/curse
acquirer_name,Ticketmaster,Banco Bilbao Vizcaya Argentaria,Shutterfly,Baytex Energy Corp,Curse
acquirer_category_list,Curated Web,Banking|Financial Services|Service Providers,E-Commerce|Internet,Clean Technology,Digital Media|Technology|Video Games
acquirer_country_code,USA,ESP,USA,CAN,USA
acquirer_state_code,CA,59,CA,AB,AL
acquirer_region,Los Angeles,Bilbao,SF Bay Area,Calgary,Huntsville
acquirer_city,West Hollywood,Bilbao,Redwood City,Calgary,Huntsville
acquired_at,9/17/2014,2/20/2014,9/11/2009,2/6/2014,7/19/2010
acquired_month,2014-09,2014-02,2009-09,2014-02,2010-07
price_amount,NaN,117000000.0,2600000.0,1630000000.0,NaN
price_currency_code,USD,USD,USD,USD,USD

In [43]:
additions.sample(5).transpose()

,14,737,1861,222,769
content,Acquisitions,Profiles,Rounds: product_crowdfunding,Acquisitions,Profiles
month_str,1987-06,2007-06,2014-01,2009-09,2010-02
year_str,1987,2007,2014,2009,2010
value,3,307,21,97,3483

In [44]:
companies.sample(5).transpose()

,62093,11631,59040,50582,56674
permalink,/organization/viralize,/organization/cleverads,/organization/transmedia-communications-sarl,/organization/sense-of-skin,/organization/teamie
name,Viralize,CleverAds,TransMedia Communications SARL,Sense of Skin,Teamie
homepage_url,http://viralize.com,http://cleverads.vn,http://www.transmediaco.com,http://www.senseofskin.com,http://www.theteamie.com
category_list,Advertising|Online Video Advertising|Video,Advertising,News,Beauty|Cosmetics|Fashion|Services,All Students|Analytics|Charter Schools|Collabo...
funding_total_usd,1600000,-,7665600,19615,387000
status,operating,operating,operating,operating,operating
country_code,ITA,VNM,NaN,IRL,SGP
state_code,16,NaN,NaN,7,NaN
region,Firenze,Hanoi,NaN,Dublin,Singapore
city,Firenze,Hanoi,NaN,Dublin,Singapore
funding_rounds,4,1,1,1,1
founded_at,8/1/2012,NaN,2/1/2003,NaN,3/24/2011
first_funding_at,8/1/2012,6/8/2011,9/10/2012,2/26/2013,3/24/2011
last_funding_at,4/16/2015,6/8/2011,9/10/2012,2/26/2013,3/24/2011

In [45]:
invests.sample(5).transpose()

,45685,155446,143644,125733,120195
company_permalink,/organization/eero,/organization/vaxart,/organization/tango-card,/organization/sapiens,/organization/recyclebank
company_name,eero,Vaxart,Tango Card,Sapiens,Recyclebank
company_category_list,Consumer Electronics|Internet|Internet of Thin...,Biotechnology,Developer APIs|Enterprise Software|Incentives|...,Health Care|Life Sciences|Medical|Medical Devices,Clean Technology|E-Commerce|Environmental Inno...
company_country_code,USA,USA,USA,DEU,USA
company_state_code,CA,CA,WA,2,NY
company_region,SF Bay Area,SF Bay Area,Seattle,Munich,New York City
company_city,San Francisco,San Francisco,Seattle,Munich,New York
investor_permalink,/organization/ame-cloud-ventures,/organization/quantum-technology-partners,/organization/sg-vc,/organization/life-sciences-partners,/organization/sigma-partners
investor_name,AME Cloud Ventures,Quantum Technology Partners,SGVC,Life Sciences Partners,Sigma Partners
investor_country_code,USA,USA,USA,NLD,USA
investor_state_code,CA,CA,CA,7,MA
investor_region,SF Bay Area,SF Bay Area,Santa Barbara,Amsterdam,Boston
investor_city,Palo Alto,San Jose,Santa Barbara,Amsterdam,Boston
funding_round_permalink,/funding-round/9f374f0f70cb1ee39117a1ef3619ab27,/funding-round/48944652148fd7689311bb2d65e64221,/funding-round/c93bbd68a656bc92c939fb6c458ec3f2,/funding-round/0700454afe00868dc51a7c02b8e28284,/funding-round/16daa09af0140fc028e5c9e172a83b04
funding_round_type,seed,venture,venture,venture,venture
funding_round_code,NaN,B,B,A,B
funded_at,2/3/2015,1/14/2010,4/2/2014,6/1/2011,3/1/2008
raised_amount_usd,5000000.0,3500000.0,3328850.0,18730400.0,30000000.0

In [46]:
rounds.sample(5).transpose()

,35590,2800,41766,61808,12133
company_permalink,/organization/findery,/organization/advanced-fpat-imaging,/organization/greenstack,/organization/mightyhive,/organization/biocartis
company_name,Findery,Advanced fPAT Imaging,Greenstack,MightyHive,Biocartis
company_category_list,Mobile,Medical,Mobile,Advertising,Biotechnology|Health Diagnostics
company_country_code,USA,USA,USA,USA,CHE
company_state_code,CA,FL,CA,CA,23
company_region,SF Bay Area,Tampa,SF Bay Area,SF Bay Area,Lausanne
company_city,San Francisco,Tampa,San Francisco,San Francisco,Lausanne
funding_round_permalink,/funding-round/53075a611d7c46ff6bc4d6f808485904,/funding-round/53df8faa18508e10f356bbd17410bba5,/funding-round/cef5a2d839763bceb96781d4b337c911,/funding-round/1962e1678fb3a645c557851016e06362,/funding-round/e95ab5747f8b2ea8c609bbcf09820900
funding_round_type,angel,equity_crowdfunding,seed,seed,venture
funding_round_code,NaN,NaN,NaN,NaN,F
funded_at,2/16/2011,11/13/2013,9/10/2012,8/1/2014,9/4/2014
raised_amount_usd,2000000.0,100000.0,600000.0,1250000.0,84763024.0

In [47]:
#getting all (unique) columns of the datasets
uniqueCols = set() #or: instead of "{}", "set()"
for ele in dfAll:
    cols = ele.columns.tolist() #".tolist()" to make it a list (side note: ".values" to make it a numpy.ndarray)
    
    uniqueCols.update(cols) #use ".add()" for elements, ".update()" for lists

In [48]:
#sorting the columns alphabetically
tempList = list(uniqueCols)
tempList.sort()
uniqueCols = tempList
uniqueCols

['acquired_at',
 'acquired_month',
 'acquirer_category_list',
 'acquirer_city',
 'acquirer_country_code',
 'acquirer_name',
 'acquirer_permalink',
 'acquirer_region',
 'acquirer_state_code',
 'category_list',
 'city',
 'company_category_list',
 'company_city',
 'company_country_code',
 'company_name',
 'company_permalink',
 'company_region',
 'company_state_code',
 'content',
 'country_code',
 'first_funding_at',
 'founded_at',
 'funded_at',
 'funding_round_code',
 'funding_round_permalink',
 'funding_round_type',
 'funding_rounds',
 'funding_total_usd',
 'homepage_url',
 'investor_city',
 'investor_country_code',
 'investor_name',
 'investor_permalink',
 'investor_region',
 'investor_state_code',
 'last_funding_at',
 'month_str',
 'name',
 'permalink',
 'price_amount',
 'price_currency_code',
 'raised_amount_usd',
 'region',
 'state_code',
 'status',
 'value',
 'year_str']

# Seeing the columns in the datasets

In [49]:
def datasetsCols(dfList, datasetNames, pad=""):
    """
    Takes dataframes and returns a dataframe (df) with each column having a df's
    column names. The "pad" is to make sure all lists of columns have 
    the same length padded out with "pad"
    Example
    pad = "XX", datasetNames = ["cars", "planes"]
    dfList = [carsDF, planesDF]
    returned data frame:
            cars            planes
    0       numOfWheels     numOfWings
    1       manufacturer    manufacturer
    2       make            XX
    """
    cols = []
    maxArrayLen = 0
    for i, df in enumerate(dfList):
        cols.append(df.columns.tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(dfList):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        dictCsvs.update({datasetNames[i] : cols[i]})

    return pd.DataFrame(dictCsvs)

In [50]:
lstCsvNames = ["acquisitions", "additions", "companies", "investments", "rounds"]

dfAllCols = datasetsCols(dfAll, lstCsvNames)
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,permalink,company_permalink,company_permalink
1,company_name,month_str,name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,country_code,company_city,company_city
7,acquirer_permalink,,state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,region,investor_name,funding_round_type
9,acquirer_category_list,,city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

# Data Cleaning

First, lets change the columns in the `companies` dataset <br>
to be the similar to all other datasets:

In [51]:
companies.rename(columns = {'permalink' : 'company_permalink', 
                            'name' : 'company_name',
                            'category_list' : 'company_category_list',
                            'country_code' : 'company_country_code',
                            'state_code' : 'company_state_code',
                            'region' : 'company_region',
                            'city' : 'company_city'}, inplace = True)

In [52]:
dfAll[2] = companies
dfAllCols = datasetsCols(dfAll, lstCsvNames)
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,company_permalink,company_permalink,company_permalink
1,company_name,month_str,company_name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,company_category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,company_country_code,company_city,company_city
7,acquirer_permalink,,company_state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,company_region,investor_name,funding_round_type
9,acquirer_category_list,,company_city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

Let's start by analyzing `additions` dataset, as it has unusual format of columns

## Removing "additions" Dataset

In [53]:
additions.sample(5)

                     content month_str  year_str  value
189             Acquisitions   2006-12      2006     36
1116      Profiles: Products   2013-01      2013    373
375                     IPOs   1985-07      1985      1
1173                  Rounds   2009-02      2009    166
1787  Rounds: private_equity   2011-02      2011      3

In [54]:
additions["content"].unique()

array(['Acquisitions', 'IPOs', 'Profiles', 'Profiles: Organizations',
       'Profiles: People', 'Profiles: Products', 'Rounds',
       'Rounds: angel', 'Rounds: convertible_note',
       'Rounds: debt_financing', 'Rounds: equity_crowdfunding',
       'Rounds: grant', 'Rounds: non_equity_assistance',
       'Rounds: post_ipo_debt', 'Rounds: post_ipo_equity',
       'Rounds: private_equity', 'Rounds: product_crowdfunding',
       'Rounds: secondary_market', 'Rounds: seed', 'Rounds: undisclosed',
       'Rounds: venture'], dtype=object)

In [55]:
dfAllCols

,acquisitions,additions,companies,investments,rounds
0,company_permalink,content,company_permalink,company_permalink,company_permalink
1,company_name,month_str,company_name,company_name,company_name
2,company_category_list,year_str,homepage_url,company_category_list,company_category_list
3,company_country_code,value,company_category_list,company_country_code,company_country_code
4,company_state_code,,funding_total_usd,company_state_code,company_state_code
5,company_region,,status,company_region,company_region
6,company_city,,company_country_code,company_city,company_city
7,acquirer_permalink,,company_state_code,investor_permalink,funding_round_permalink
8,acquirer_name,,company_region,investor_name,funding_round_type
9,acquirer_category_list,,company_city,investor_country_code,funding_round_code
10,acquirer_country_code,,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,,founded_at,investor_region,raised_amount_usd
12,acquirer_region,,first_funding_at,investor_city,
13,acquirer_city,,last_funding_at,funding_round_permalink,
14,acquired_at,,,funding_round_type,
15,acquired_month,,,funding_round_code,
16,price_amount,,,funded_at,
17,price_currency_code,,,raised_amount_usd,

In [56]:
additions.shape

(2213, 4)

In [57]:
companies.shape, rounds.shape

((66368, 14), (114949, 12))

So apparently there are no columns that could be used to join with the other datasets. <br>
Furthermore, the "value" column is too vague to be useful. <br>
Therefore, the "additions" dataset will be discarded.

In [58]:
dfAll.pop(1)
lstCsvNames.pop(1)
len(dfAll), lstCsvNames

(4, ['acquisitions', 'companies', 'investments', 'rounds'])

# Data Cleaning (Cont.)

## Checking All Missing Values

In [59]:
def datasetsNulls(dfList, datasetNames, nullCol="nulls_", pad=""):
    """
    Use this when you want to display a column of column names,
    then a column of the null values, and repeat that for each dataset.
    Returns a dataframe
    """
    cols = []
    nulls = []
    maxArrayLen = 0
    for i, df in enumerate(dfList):
        cols.append(df.columns.tolist())
        nulls.append(df.isnull().sum().tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(dfList):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        nulls[i] += [None] *  (maxArrayLen - len(nulls[i]))
        dictCsvs[datasetNames[i]] = cols[i]
        dictCsvs[nullCol + str(i+1)] = nulls[i]
    
    return pd.DataFrame(dictCsvs)

In [60]:
dfAllNulls = datasetsNulls(dfAll, lstCsvNames)
dfAllNulls

,acquisitions,nulls_1,companies,nulls_2,investments,nulls_3,rounds,nulls_4
0,company_permalink,0,company_permalink,0.0,company_permalink,0,company_permalink,0.0
1,company_name,1,company_name,1.0,company_name,1,company_name,1.0
2,company_category_list,4984,homepage_url,5058.0,company_category_list,3632,company_category_list,3410.0
3,company_country_code,4669,company_category_list,3148.0,company_country_code,10521,company_country_code,8678.0
4,company_state_code,4949,funding_total_usd,0.0,company_state_code,13431,company_state_code,10946.0
5,company_region,4911,status,0.0,company_region,12485,company_region,10167.0
6,company_city,4911,company_country_code,6958.0,company_city,12483,company_city,10164.0
7,acquirer_permalink,1,company_state_code,8547.0,investor_permalink,12,funding_round_permalink,0.0
8,acquirer_name,1,company_region,8030.0,investor_name,12,funding_round_type,0.0
9,acquirer_category_list,2389,company_city,8028.0,investor_country_code,30939,funding_round_code,83809.0
10,acquirer_country_code,1171,funding_rounds,0.0,investor_state_code,44739,funded_at,0.0
11,acquirer_state_code,1436,founded_at,15221.0,investor_region,43217,raised_amount_usd,19990.0
12,acquirer_region,1360,first_funding_at,24.0,investor_city,32164,,NaN
13,acquirer_city,1360,last_funding_at,0.0,funding_round_permalink,0,,NaN
14,acquired_at,13,,NaN,funding_round_type,0,,NaN
15,acquired_month,15,,NaN,funding_round_code,87585,,NaN
16,price_amount,13957,,NaN,funded_at,0,,NaN
17,price_currency_code,7,,NaN,raised_amount_usd,21619,,NaN

Alternatively, we can combine all columns to be the dataframe's index:

In [61]:
#Alternatively:
def datasetsNullsSameIndex(datasetsNames, *args):
    """
    Use this when multiple datasets have a lot of columns
    with the same names.
    Returns a dataframe with the index value being the 
    columns of all datasets
    """
    dic = {}
    for i, df in enumerate(args):
        dic[datasetsNames[i]] = df.isnull().sum()
    return pd.DataFrame(dic)

In [62]:
datasetsNullsSameIndex(lstCsvNames, *dfAll)

                         acquisitions  companies  investments   rounds
acquired_at                      13.0        NaN          NaN      NaN
acquired_month                   15.0        NaN          NaN      NaN
acquirer_category_list         2389.0        NaN          NaN      NaN
acquirer_city                  1360.0        NaN          NaN      NaN
acquirer_country_code          1171.0        NaN          NaN      NaN
acquirer_name                     1.0        NaN          NaN      NaN
acquirer_permalink                1.0        NaN          NaN      NaN
acquirer_region                1360.0        NaN          NaN      NaN
acquirer_state_code            1436.0        NaN          NaN      NaN
company_category_list          4984.0     3148.0       3632.0   3410.0
company_city                   4911.0     8028.0      12483.0  10164.0
company_country_code           4669.0     6958.0      10521.0   8678.0
company_name                      1.0        1.0          1.0      1.0
company_permalink                 0.0        0.0          0.0      0.0
company_region                 4911.0     8030.0      12485.0  10167.0
company_state_code             4949.0     8547.0      13431.0  10946.0
first_funding_at                  NaN       24.0          NaN      NaN
founded_at                        NaN    15221.0          NaN      NaN
funded_at                         NaN        NaN          0.0      0.0
funding_round_code                NaN        NaN      87585.0  83809.0
funding_round_permalink           NaN        NaN          0.0      0.0
funding_round_type                NaN        NaN          0.0      0.0
funding_rounds                    NaN        0.0          NaN      NaN
funding_total_usd                 NaN        0.0          NaN      NaN
homepage_url                      NaN     5058.0          NaN      NaN
investor_city                     NaN        NaN      32164.0      NaN
investor_country_code             NaN        NaN      30939.0      NaN
investor_name                     NaN        NaN         12.0      NaN
investor_permalink                NaN        NaN         12.0      NaN
investor_region                   NaN        NaN      43217.0      NaN
investor_state_code               NaN        NaN      44739.0      NaN
last_funding_at                   NaN        0.0          NaN      NaN
price_amount                  13957.0        NaN          NaN      NaN
price_currency_code               7.0        NaN          NaN      NaN
raised_amount_usd                 NaN        NaN      21619.0  19990.0
status                            NaN        0.0          NaN      NaN

### `dropna()` for columns with few missing values

Notice that there is one row that doesn't contain a company name, <br>
so let's validate that it is the same company across all datasets, <br>
so we can remove it:

In [63]:
datasetsCols(dfAll, lstCsvNames)

,acquisitions,companies,investments,rounds
0,company_permalink,company_permalink,company_permalink,company_permalink
1,company_name,company_name,company_name,company_name
2,company_category_list,homepage_url,company_category_list,company_category_list
3,company_country_code,company_category_list,company_country_code,company_country_code
4,company_state_code,funding_total_usd,company_state_code,company_state_code
5,company_region,status,company_region,company_region
6,company_city,company_country_code,company_city,company_city
7,acquirer_permalink,company_state_code,investor_permalink,funding_round_permalink
8,acquirer_name,company_region,investor_name,funding_round_type
9,acquirer_category_list,company_city,investor_country_code,funding_round_code
10,acquirer_country_code,funding_rounds,investor_state_code,funded_at
11,acquirer_state_code,founded_at,investor_region,raised_amount_usd
12,acquirer_region,first_funding_at,investor_city,
13,acquirer_city,last_funding_at,funding_round_permalink,
14,acquired_at,,funding_round_type,
15,acquired_month,,funding_round_code,
16,price_amount,,funded_at,
17,price_currency_code,,raised_amount_usd,

In [64]:
#company_permalink of each row that doesn't have a company name:
for df in dfAll:
    print(df[df['company_name'].isnull()]['company_permalink'].values)

['mendatio"']
['/organization/tell-it-in']
['/organization/tell-it-in']
['/organization/tell-it-in']

So apparently, the `acquisitions` dataset has a different permalink that has no company name, <br>
So we could remove these two companies, as the total number of companies are big enough to get the insight that we want:

In [65]:
for df in dfAll:
    df.dropna(subset=['company_name'], inplace=True)
#Check:
for df in dfAll:
    print(df[df['company_name'].isnull()]['company_permalink'].values)

[]
[]
[]
[]

`dfAllNulls` dataframe also shows that there are missing values for `acquirer_name` and `investor_name` <br>
which can't be imputed, so we'll also remove them:

In [77]:
# Note: same logic applies for the permalinks
acquis.dropna(subset=['acquirer_permalink', 'acquirer_name'], inplace=True)
invests.dropna(subset=['investor_permalink', 'investor_name'], inplace=True)

,acquisitions,nulls_1,companies,nulls_2,investments,nulls_3,rounds,nulls_4
0,company_permalink,0,company_permalink,0.0,company_permalink,0,company_permalink,0.0
1,company_name,0,company_name,0.0,company_name,0,company_name,0.0
2,company_category_list,4983,homepage_url,5058.0,company_category_list,3632,company_category_list,3410.0
3,company_country_code,4668,company_category_list,3148.0,company_country_code,10521,company_country_code,8678.0
4,company_state_code,4948,funding_total_usd,0.0,company_state_code,13431,company_state_code,10946.0
5,company_region,4910,status,0.0,company_region,12485,company_region,10167.0
6,company_city,4910,company_country_code,6958.0,company_city,12483,company_city,10164.0
7,acquirer_permalink,0,company_state_code,8547.0,investor_permalink,0,funding_round_permalink,0.0
8,acquirer_name,0,company_region,8030.0,investor_name,0,funding_round_type,0.0
9,acquirer_category_list,2388,company_city,8028.0,investor_country_code,30927,funding_round_code,83808.0
10,acquirer_country_code,1170,funding_rounds,0.0,investor_state_code,44727,funded_at,0.0
11,acquirer_state_code,1435,founded_at,15221.0,investor_region,43205,raised_amount_usd,19990.0
12,acquirer_region,1359,first_funding_at,24.0,investor_city,32152,,NaN
13,acquirer_city,1359,last_funding_at,0.0,funding_round_permalink,0,,NaN
14,acquired_at,12,,NaN,funding_round_type,0,,NaN
15,acquired_month,14,,NaN,funding_round_code,87576,,NaN
16,price_amount,13956,,NaN,funded_at,0,,NaN
17,price_currency_code,6,,NaN,raised_amount_usd,21619,,NaN

Also, we'll remove the missing values for columns that have less than 100 `NaN`, <br>
as they're small in comparison to their respective datasets:

In [90]:
for df in dfAll:
    nulls = df.isnull().sum()
    cols = nulls[(nulls <= 100) & (nulls != 0)].index.tolist()
    df.dropna(subset=cols, inplace=True)
dfAllNulls = datasetsNulls(dfAll, lstCsvNames)
dfAllNulls

,acquisitions,nulls_1,companies,nulls_2,investments,nulls_3,rounds,nulls_4
0,company_permalink,0,company_permalink,0.0,company_permalink,0,company_permalink,0.0
1,company_name,0,company_name,0.0,company_name,0,company_name,0.0
2,company_category_list,4977,homepage_url,5058.0,company_category_list,3632,company_category_list,3410.0
3,company_country_code,4661,company_category_list,3147.0,company_country_code,10521,company_country_code,8678.0
4,company_state_code,4940,funding_total_usd,0.0,company_state_code,13431,company_state_code,10946.0
5,company_region,4902,status,0.0,company_region,12485,company_region,10167.0
6,company_city,4902,company_country_code,6956.0,company_city,12483,company_city,10164.0
7,acquirer_permalink,0,company_state_code,8545.0,investor_permalink,0,funding_round_permalink,0.0
8,acquirer_name,0,company_region,8028.0,investor_name,0,funding_round_type,0.0
9,acquirer_category_list,2387,company_city,8026.0,investor_country_code,30927,funding_round_code,83808.0
10,acquirer_country_code,1168,funding_rounds,0.0,investor_state_code,44727,funded_at,0.0
11,acquirer_state_code,1432,founded_at,15218.0,investor_region,43205,raised_amount_usd,19990.0
12,acquirer_region,1356,first_funding_at,0.0,investor_city,32152,,NaN
13,acquirer_city,1356,last_funding_at,0.0,funding_round_permalink,0,,NaN
14,acquired_at,0,,NaN,funding_round_type,0,,NaN
15,acquired_month,0,,NaN,funding_round_code,87576,,NaN
16,price_amount,13941,,NaN,funded_at,0,,NaN
17,price_currency_code,0,,NaN,raised_amount_usd,21619,,NaN

## Converting & Imputing Dates

[SAY WHAT YOU WILL DO HERE:]

In [91]:
#Farah: plz impute (not drop) the columns' missing values related to dates in each dataset which are:
#founded_at.. and that's it :] 
# Suggestion: convert the dates of all the columns that have date values from "object" to datetime
#       Helpful link: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#converting-to-timestamps
# Then, make the founded_at a couple of days before first_funding_at

In [ ]:
#ya mosahhel2

In [ ]:
#Ashraf Cell 0

In [ ]:
#Ashraf Cell 1

In [ ]:
#Ashraf Cell 2

In [ ]:
#Ashraf Cell 3

## Checking All `dtypes`

In [67]:
def datasetsDtypes(dfList, datasetNames, dtypesCol="dtypes_", pad=""):
    cols = []
    nulls = []
    maxArrayLen = 0
    for i, df in enumerate(dfList):
        cols.append(df.columns.tolist())
        nulls.append(df.dtypes.tolist())
        maxArrayLen = max(maxArrayLen, len(cols[i]))
    
    dictCsvs = {}
    for i, df in enumerate(dfList):
        cols[i] += [pad] * (maxArrayLen - len(cols[i])) #padding the lists to make them have equal lengths 
        nulls[i] += [None] *  (maxArrayLen - len(nulls[i]))
        dictCsvs[datasetNames[i]] = cols[i]
        dictCsvs[dtypesCol + str(i+1)] = nulls[i]
    
    return pd.DataFrame(dictCsvs)

In [68]:
datasetsDtypes(dfAll, lstCsvNames)

,acquisitions,dtypes_1,companies,dtypes_2,investments,dtypes_3,rounds,dtypes_4
0,company_permalink,object,company_permalink,object,company_permalink,object,company_permalink,object
1,company_name,object,company_name,object,company_name,object,company_name,object
2,company_category_list,object,homepage_url,object,company_category_list,object,company_category_list,object
3,company_country_code,object,company_category_list,object,company_country_code,object,company_country_code,object
4,company_state_code,object,funding_total_usd,object,company_state_code,object,company_state_code,object
5,company_region,object,status,object,company_region,object,company_region,object
6,company_city,object,company_country_code,object,company_city,object,company_city,object
7,acquirer_permalink,object,company_state_code,object,investor_permalink,object,funding_round_permalink,object
8,acquirer_name,object,company_region,object,investor_name,object,funding_round_type,object
9,acquirer_category_list,object,company_city,object,investor_country_code,object,funding_round_code,object
10,acquirer_country_code,object,funding_rounds,int64,investor_state_code,object,funded_at,object
11,acquirer_state_code,object,founded_at,object,investor_region,object,raised_amount_usd,float64
12,acquirer_region,object,first_funding_at,object,investor_city,object,,None
13,acquirer_city,object,last_funding_at,object,funding_round_permalink,object,,None
14,acquired_at,object,,None,funding_round_type,object,,None
15,acquired_month,object,,None,funding_round_code,object,,None
16,price_amount,float64,,None,funded_at,object,,None
17,price_currency_code,object,,None,raised_amount_usd,float64,,None

In [92]:
#AISHA: see what you can do with the dtypes above (except dates, that's on Farah) ^^

## `rounds` Dataset

In [69]:
dfAllCols.iloc[:, -2:]

                investments                   rounds
0         company_permalink        company_permalink
1              company_name             company_name
2     company_category_list    company_category_list
3      company_country_code     company_country_code
4        company_state_code       company_state_code
5            company_region           company_region
6              company_city             company_city
7        investor_permalink  funding_round_permalink
8             investor_name       funding_round_type
9     investor_country_code       funding_round_code
10      investor_state_code                funded_at
11          investor_region        raised_amount_usd
12            investor_city
13  funding_round_permalink
14       funding_round_type
15       funding_round_code
16                funded_at
17        raised_amount_usd

In [70]:
invests.shape, rounds.shape

((168634, 18), (114948, 12))

In [71]:
invests.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/organization/dt-capital-partners,DT Capital Partners,CHN,23,Shanghai,Shanghai,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,3/19/2008,2000000.0
1,/organization/004-technologies,004 Technologies,Software,USA,IL,"Springfield, Illinois",Champaign,/organization/venturecapital-de,VCDE Venture Partners,DEU,5,Frankfurt,Frankfurt,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,7/24/2014,NaN
2,/organization/01games-technology,01Games Technology,Games,HKG,NaN,Hong Kong,Hong Kong,/organization/cyberport-hong-kong,Cyberport Hong Kong,HKG,NaN,Hong Kong,Hong Kong,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,7/1/2014,41250.0
3,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/capital-one,Capital One,USA,VA,"Washington, D.C.",Mclean,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,B,11/9/2015,20000000.0
4,/organization/0xdata,H2O.ai,Analytics,USA,CA,SF Bay Area,Mountain View,/organization/nexus-venture-partners,Nexus Venture Partners,USA,CA,SF Bay Area,Menlo Park,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,5/22/2013,3000000.0

In [72]:
rounds.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,1/5/2015,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,10/14/2014,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,3/1/2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,1/30/2014,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,3/19/2008,2000000.0

In [73]:
len(invests["company_name"].unique()), len(rounds["company_name"].unique())

(44577, 66102)

Since there are companies in `rounds` dataset that are not in `investments` dataset, <br>
therefore we should keep `rounds` dataset for further analysis.

## `companies` Dataset

In [74]:
companies.sample(5).T

,21665,16995,8122,40231,37599
company_permalink,/organization/friend-trusted,/organization/easycopay,/organization/bornevia,/organization/oatsystems,/organization/my-pick-box
company_name,Smith,EasyCopay,Bornevia,OATSystems,My Pick Box
homepage_url,http://www.gosmith.com,http://www.easycopay.com,https://www.bornevia.com/,http://www.oatsystems.com,http://mypickbox.com/
company_category_list,Android|Bridging Online and Offline|Home & Gar...,Health Care,CRM|SaaS|Software,Software,Logistics
funding_total_usd,-,-,-,12500000,265064
status,operating,operating,operating,acquired,operating
company_country_code,USA,USA,IDN,USA,ESP
company_state_code,CA,PA,4,MA,60
company_region,SF Bay Area,Philadelphia,Jakarta,Boston,Valencia
company_city,San Mateo,Conshohocken,Jakarta,Waltham,Valencia
funding_rounds,2,1,1,1,1
founded_at,8/3/2012,1/1/2006,1/1/2014,NaN,6/7/2013
first_funding_at,11/3/2013,8/31/2006,1/5/2015,4/24/2006,6/11/2013
last_funding_at,11/21/2014,8/31/2006,1/5/2015,4/24/2006,6/11/2013

In [75]:
companies.isnull().sum()

company_permalink            0
company_name                 0
homepage_url              5058
company_category_list     3148
funding_total_usd            0
status                       0
company_country_code      6958
company_state_code        8547
company_region            8030
company_city              8028
funding_rounds               0
founded_at               15221
first_funding_at            24
last_funding_at              0
dtype: int64

we will need to remove the none values of the following columns <br>
based on the question that we are trying to gain insight for: <br>
1.	Can the factors that affect a start-up’s growth be determined?
    -	For this: We are initially interested in <br> `funding_total_usd`, `status`, `funding_rounds`, `first_funding_at`, and `last_funding_at`
    -   So we could remove the 24 null values of `first_funding_at` since they are so small <br>
        compared to the rest of the dataset
2.  Do taxes play an important factor in deciding a start-up’s success?

test